[2015-11-15 05:00] ankurcha opened #1 "Application crashes on startup after adding America/Los_Angeles on 10.11.1"
Sounded nice but doesn't work on El Capitan 10.11.1 when I tried adding 'America/Los_Angeles' as one of the clocks.

console logs show this:

[code]

[2015-11-15 05:10] Abhishaker17 commented on #1
Thanks. Investigating.

[2015-11-15 06:11] Abhishaker17 commented on #1
Hey, can you elaborate more on this issue. I am unable to reproduce this. From the console log, this should be happening when you click on the icon.
1. Did you add any number of clocks before adding Los Angeles?

[2015-11-15 19:10] ankurcha commented on #1
Yes that is correct. I added one clock and it crashed, then restarted the app with the console log and when I clicked on the icon, it crashed again and I copied the logs.

[2015-11-15 19:14] Abhishaker17 commented on #1
Thanks for the reply. According to the crash logs, a NSCalendar method is causing the crash. Looking into it.

[2015-11-15 19:30] Abhishaker17 commented on #1
Hey Ankur, I have added a new version under the Release section. Can you please use this updated version and check whether the problem exists? Thank you for your patience.

[2015-12-05 20:13] Abhishaker17 commented on #1
Hey Ankur, the new version (1.1.2) solves this issue. You can update the app from the Mac App Store or build the project after downloading it. Closing this issue.

[2015-12-05 20:13] #1 closed

[2015-12-12 17:03] grigerny opened #2 "Many major cities missing"
For example, for India - New Delhi or Mumbai

[2015-12-12 17:18] Abhishaker17 commented on #2
Hey,

Currently, I am fetching timezones from the NSTimezone API which gives this restricted list. Will have to use an external API to include all the cities.

For your example, for the existing version; you can search for Kolkata in the preferences section.

I am currently working on a version to allow custom labels for timezones which can be pretty handy in this situation.

[2015-12-13 14:15] filippoferraris commented on #2
yes! Customise the labels would be very useful!

[2015-12-15 04:08] Abhishaker17 commented on #2
As the new version is under App Store review (which can take long), I have added an updated version under the Releases section for you guys. This release features the custom label functionality and few other changes. :)

[2015-12-15 12:55] grigerny commented on #2
Great! Looking forward to it!

Gary Riger
Founder at Thinklab Media
646-791-6277
thinklabmedia.com
@garyriger

On Mon, Dec 14, 2015 at 8:08 PM -0800, "Abhishek Banthia" <notifications@github.com> wrote:

As the new version is under App Store review (which can take long), I have added an updated version under the Releases section for you guys. This release features the custom label functionality an

[2016-01-07 08:53] barabbassj opened #3 "Not working on OSX 10.9"
Hi man,

thank you for your free app!! I really appreciate! I have osx 10.9 and APP is not working. any idea to fix that ?

thanks

[2016-01-07 11:02] Abhishaker17 commented on #3
Hey,

Thanks for reporting this issue. Checking this.

[2016-01-07 11:22] barabbassj commented on #3
thanks!

Best,

Alberto

On 7 January 2016 at 12:02, Abhishek Banthia <notifications@github.com>
wrote:

[2016-01-08 10:51] Abhishaker17 commented on #2
With the new version (1.2.1), city search uses Google API which includes all the major cities around the world.

Closing this.

[2016-01-08 10:51] #2 closed

[2016-01-17 03:05] Abhishaker17 commented on #3
Hey Alberto,

Here's a Mavericks supported version attached. This might be buggy since the code was not written keeping Mavericks in mind.

Also, you might have to go to System Preferences --> Security & Privacy --> General tab, and for
Allow Apps downloaded from choose "Anywhere".

[Clocker-Mavericks.zip](https://github.com/Abhishaker17/Clocker/files/93188/Clocker-Mavericks.zip)

[2016-01-17 10:43] #3 closed

[2016-01-17 22:29] barabbassj commented on #3
Wonderful job! thanks a lot

Best,

Alberto

On 17 January 2016 at 04:05, Abhishek Banthia <notifications@github.com>
wrote:

[2016-05-31 16:59] SashaOv opened #4 "Taking >20% CPU"
Great program, thanks for making it! I noticed that it is taking >20% CPU on my Mac. Is there a reason for that and how can I fix it?

Here is the screenshot: http://imgur.com/oreGUSu

Thanks.

[2016-05-31 18:21] Abhishaker17 commented on #4
One of the reasons for increased CPU usage can be if you have set a favorite city for your menu-bar (there's a timer which constantly updates), but this is abnormal.

Can you share with me the following things:

   1. OS X version (for e.g. : 10.10, 10.11)
   2. OS X device you're using (for e.g. : Macbook Pro, iMac etc)

[2016-07-10 20:12] unthingable opened #5 "Please add UTC"
^^

[2016-07-11 23:50] Abhishaker17 commented on #5
A workaround is to choose Atlantic/Reykjavik, which is always on UTC, and rename the label as "UTC".

[2016-07-15 20:35] unthingable commented on #5
Thank you!

[2016-07-15 20:35] #5 closed

[2016-07-18 18:23] ry29 commented on #4
I have the same issue.
OSX 10.11.5 on a 2015 Macbook Pro

[2016-09-01 01:58] indigoviolet opened #6 "Past time slider"
It's often useful in development work to be able to look at past time events in some time zone and convert quickly to another timezone.

[2016-09-01 04:24] abhishekbanthia commented on #6
That's an interesting feature request. I'm thinking about the UI challenges (especially with the current slider), but yeah, thank you for your input.

[2016-09-01 13:12] prokher opened #7 "Crashes on click"
I launch Clocker, click on its icon in the menubar and it crashes:

[2016-09-01 16:54] redfox05 opened #8 "Clocker seems to continually run at 26-30% CPU on Macbook Pro"
Hi there,

I just bought a brand new macbook pro, and did a backup migration from my iMac. I notice the fan is going like crazy most of the time, for several days now, which did not happen on my old Late 2013 Model Macbook Pro, so I did some digging. Activity Monitor is showing that Clocker is constantly using 26-30% of my CPU. Not just occasionally, ALL the time.

I can say say that right now the

[2016-09-01 16:57] redfox05 commented on #8
I saw the other thread you mentioned a timer. Can you tell me what the timer is used for? Can you add an option to change the polling frequency if its checking something?

[2016-09-01 17:01] redfox05 opened #9 "Multiple Monitors: Taskbar menu only works on one monitor"
Not as important as the CPU issue, but thought I would mentioned it for you.

When using multiple monitors, in my case 1 external with my Macbook Pro 15", Clocker does not seem to want to open when I click the icon on my external monitor. When I click the icon on my Macbook screen taskbar, it does successfully open and work as expected.

The exact behaviour on the external monitor is that you clic

[2016-09-01 21:31] abhishekbanthia commented on #8
Thank you for your feedback, @redfox05, and apologies for the issue you're facing.

You are correct, there's a timer to update the menu-bar icon interface, which is fired regularly. I have actually found an alternative method to achieve this using the `dispatch_after` method, which is much more efficient and memory friendly (tested this using Instruments), which will be implemented in the next ver

[2016-09-01 21:37] abhishekbanthia commented on #7
Thank you for the logs.

Can you tell me your local date format, time, calendar that's been set in System Preferences? I have attached a reference screenshot of my preferences.

<img width="780" alt="screen shot 2016-09-01 at 2 36 08 pm" src="https://cloud.githubusercontent.com/assets/8280282/18185273/a91dc0ec-7051-11e6-941e-76a06a59eabf.png">

[2016-09-01 21:40] abhishekbanthia commented on #9
This is something new. Investigating.

[2016-09-01 22:38] redfox05 commented on #8
Ah thats sounds great. Thanks for the fast reply. Do you know when you will be able to release the new version/how long the app validation will take in the app store?

[2016-09-02 10:08] prokher commented on #7
Here it is:

[image: Inline image 1]

On Fri, Sep 2, 2016 at 12:37 AM, Abhishek Banthia <notifications@github.com>
wrote:

[2016-09-02 20:03] abhishekbanthia commented on #7
Can you attach the image again?

[2016-09-03 11:14] prokher commented on #7
Why? Anyway, OK, here it is:

[image: Inline image 1]

On Fri, Sep 2, 2016 at 11:03 PM, Abhishek Banthia <notifications@github.com>
wrote:

[2016-09-06 20:41] abhishekbanthia commented on #7
Hi Prokher, I'm unable to see the image. Here's what I'm seeing:

<img width="846" alt="screen shot 2016-09-06 at 1 40 46 pm" src="https://cloud.githubusercontent.com/assets/8280282/18290247/a496f7fc-7437-11e6-9258-337d58675d96.png">

[2016-09-06 20:44] prokher commented on #7
OK, seem's github can not process images attached to email. Let's do this through github iface :)

![unnamed](https://cloud.githubusercontent.com/assets/399393/18290344/358db398-7494-11e6-943c-916f6baeed67.png)

[2016-09-07 00:38] abhishekbanthia commented on #7
Thank you for the image. Can you let me know if Clocker works for you if you revert to default time and date settings?

[2016-09-07 07:35] prokher commented on #7
Yes, it does.

On Wed, Sep 7, 2016 at 3:38 AM, Abhishek Banthia <notifications@github.com>
wrote:

[2016-09-07 07:38] prokher commented on #7
​BTW, switching back to my setting does not make it crash. So we at least
found a workaround.​

On Wed, Sep 7, 2016 at 10:34 AM, Alexander Prokhorov <prokher@gmail.com>
wrote:

[2016-09-07 08:36] prokher commented on #7
Further experiments exposed another problem: it shows the wrong day (Monday
instead of Wednesday) when calendar is “ISO 8601”, if I switch it to
Gregorian it shows proper day. I use ISO 8601 because it has different week
numbering from Gregorian one.

On Wed, Sep 7, 2016 at 10:37 AM, Alexander Prokhorov <prokher@gmail.com>
wrote:

[2016-09-07 21:50] abhishekbanthia commented on #7
Interesting. Thanks for the information. Investigating.

[2016-09-08 09:18] prokher commented on #7
More to this. I’ve found what makes this crash. When I use custom time/date
format it starts crashing again.

On Thu, Sep 8, 2016 at 12:50 AM, Abhishek Banthia <notifications@github.com>
wrote:

[2016-09-10 15:00] prokher commented on #4
More to this:
![2016-09-10_17-56-45](https://cloud.githubusercontent.com/assets/399393/18411448/c350dae2-7788-11e6-803d-b7f4d09717b8.png)

[2016-09-10 20:48] abhishekbanthia commented on #4
Would you be willing to install a new unsigned version of the app which attempts to fix these issues?

[2016-09-10 21:00] prokher commented on #4
I could try

[2016-09-11 13:58] dodekeract commented on #8
Having the same issue, 25% on an i7 4790k.

[2016-09-12 03:57] apmilen opened #10 "Add UTC as an available timezone"
I would definitely set UTC as my favorite timezone.

[2016-09-12 04:19] abhishekbanthia commented on #10
According to this [article](https://www.timeanddate.com/time/gmt-utc-time.html), GMT and UTC both share the same time in practice.

GMT is available in Clocker. You can search for GMT under the Search for Timezone(s) tab, add it, and rename it to UTC. Hope this helps.

[2016-09-12 04:51] apmilen commented on #10
Got it. I thought GMT changes in-timezone for daylight savings but it looks like the UK switches to a new timezone during the summer months (BST). Thanks!

[2016-09-12 04:51] #10 closed

[2016-09-12 16:27] abhishekbanthia commented on #8
Update: I'm swamped by work, but I will try to upload an unsigned build of the app (that attempts to fix this issue) by the end of the week.

[2016-09-18 20:08] abhishekbanthia commented on #4
Attached an unsigned copy which uses a different mechanism to update the menubar. Let me know how does this work for you:

[Clocker.zip](https://github.com/abhishekbanthia/Clocker/files/478960/Clocker.zip)

_(This has been tested only on my machine. So bear with me if it still does not fix the energy consumption issue)_

[2016-09-18 20:09] abhishekbanthia commented on #8
Attached an unsigned copy which uses a different mechanism to update the menubar. Let me know how does this work for you:

(This has been tested only on my machine. So bear with me if it still does not fix the energy consumption issue)

[Clocker.zip](https://github.com/abhishekbanthia/Clocker/files/478964/Clocker.zip)

[2016-09-19 01:13] dodekeract commented on #8
@abhishekbanthia Didn't change anything. Can't you just update it once a minute?!? There's no need for what appears to be constant updates.

[2016-09-19 03:04] abhishekbanthia commented on #8
Attached a version that updates every 60 seconds. My reasoning is it can affect the accuracy of the time being shown, however so slightly:

[Clocker.app.zip](https://github.com/abhishekbanthia/Clocker/files/479185/Clocker.app.zip)

[2016-09-19 03:58] dodekeract commented on #8
@abhishekbanthia Thanks, I'll test that one. How did you previously manage updates? Everything above a second is overkill. Also, you may be able to fix the 60s issue by just starting the first timer after `secondsLeftUntilNextMinute` or something similar.

[2016-09-19 04:00] dodekeract commented on #8
Wow, it actually seems to be something else. I'm still getting 22% CPU usage. I don't know what causes this, but it **doesn't** seem to be the updates.

[2016-09-19 04:00] dodekeract commented on #8
@abhishekbanthia Can you reproduce this on your machine or does this not happen for you? If no, can I somehow help you to find the cause?

[2016-09-19 05:41] abhishekbanthia commented on #8
I actually - after trying multiple times - see the maximum energy consumption at 8%. It's quite interesting especially since I am testing it on a MacbookPro as well. Instruments show low energy consumption as well. Investigating other causes.

[2016-09-19 06:07] dodekeract commented on #8
@abhishekbanthia As I have a hackintosh workstation, I actually don't see the energy consumption. Make sure to look into pure CPU load too. There should be a correlation but it's probably a little bit different.

[2016-09-26 11:08] prokher commented on #4
On the first start it shown me some intro but then crashed. Trying to run
it after that does nothing at all:

2016-09-26 14:05:50.847 Clocker[39469:506582] iRate verbose logging enabled.
2016-09-26 14:05:50.879 Clocker[39469:506582] *** -[NSCalendar
component:fromDate:]: date cannot be nil

and hanging...

On Sun, Sep 18, 2016 at 11:08 PM, Abhishek Banthia <notifications@github.com

[2016-10-05 17:41] abhishekbanthia commented on #8
Question: Do any of you guys use dual screens?

[2016-10-05 17:45] dodekeract commented on #8
Yes, I'm using 4 screens right now.

[2016-10-05 21:12] redfox05 commented on #8
@abhishekbanthia Yep I'm using 2 external monitors in addition to my 15" Macbook Pro screen

[2016-10-05 21:14] redfox05 commented on #8
Regrettably I have had to uninstall your app until this is fixed, but happy to try again later.

[2016-10-05 21:22] dodekeract commented on #8
@abhishekbanthia I guess you found the real issue. 🙂

[2016-10-05 21:27] redfox05 commented on #8
@dodekeract whats the real issue you are referring to? The dual screens?

[2016-10-05 21:29] dodekeract commented on #9
For me this works, but only on 3 out of 4 screens.

My configuration is `[4*] [3*] [1*] [2]`
Where `[1]` is my main display, `*` means it's working as intended.
On my screen `[2]` the menu opens on screen `[1]` instead of `[2]`.

It is dragged to the left too, but stays on the screen, nearly exactly in the top right corner.

[2016-10-05 21:32] dodekeract commented on #8
@redfox05 Yes, it seems that everyone affected by this has multiple displays. Since @abhishekbanthia asked if we have multiple displays, it seems that he found out what the issue is.

[2016-10-05 21:35] dodekeract commented on #4
Related to #4.
@SashaOv @ry29 @prokher Are you using multiple displays? Everyone we've asked so far has multiple screens.

[2016-10-05 21:36] dodekeract commented on #8
@SashaOv @ry29 @prokher Are you using multiple displays? Everyone we've asked so far has multiple screens.

[2016-10-06 03:21] abhishekbanthia commented on #8
Yep, @dodekeract; looks like issue arises because of multiple displays.

[2016-10-06 08:21] prokher commented on #8
Yes I typically use two screens: laptop’s plus external one.

On Thu, Oct 6, 2016 at 6:21 AM, Abhishek Banthia <notifications@github.com>
wrote:

[2016-10-06 11:25] ry29 commented on #8
yes, I have 3 displays. MacBook's, and 2 monitors via hdmi and thunderbolt.

[2016-10-06 16:35] russelltrafford commented on #8
Hmm, so where does this leave things? Having multiple monitors without Clocker installed has left my Macbook totally silent from fans and thus increasing CPU. So in itself multiple monitors is not a cause. It could be something we all have in common, but what will that mean in terms of why the app increased its CPU usage? Once we know that, hopefully a solution could then be found from that?

[2016-10-06 16:49] dodekeract commented on #8
I am quite sure this is because of the multiple times Clocker has to render. There's most likely something wrong in the part of code that determines this, which causes it to loop indefinitely on a multi screen machine.

[2016-10-13 15:42] russelltrafford commented on #8
Hey there. Quick update from me, ive now been able to test both your unsigned versions that were provided by you above.

The first one ran at around 40% CPU for me, with 2 externals monitors, and the macbook monitor running. See screenshot:
<img width="788" alt="screen shot 2016-10-13 at 8 37 40 am" src="https://cloud.githubusercontent.com/assets/22302818/19355874/c2548498-9120-11e6-8815-74a81dc22

[2016-10-13 15:44] redfox05 commented on #8
Hey there. Quick update from me, ive now been able to test both your unsigned versions that were provided by you above.

The first one ran at around 40% CPU for me, with 2 externals monitors, and the macbook monitor running. See screenshot:
<img width="788" alt="screen shot 2016-10-13 at 8 37 40 am" src="https://cloud.githubusercontent.com/assets/7571495/19356026/3b3e3840-9121-11e6-96bc-cefb73fe47

[2016-10-20 02:27] andrewshubin commented on #8
Indeed, the problem is with multiple monitors.
I have 21% of CPU with two monitors. When the second monitor is detached, it drops down to 0.3%.

[2016-10-20 02:30] andrewshubin commented on #8
Also, if I turn off the "Favorite" flag, it drops down to 0.0%, even with two monitors.

[2016-10-20 15:43] redfox05 commented on #8
@andrewshubin correct, it does seem to be to do with the Favourite feature. I presume this is because the issue here is the updating of the time in the menu bar, and how it does this, which causes the CPU usage to increase. If the favourite option is disabled, the time is not shown on the menu bar, and thus no 'extra' CPU load.

[2016-10-20 15:45] redfox05 commented on #8
@abhishekbanthia I wonder if you are able to restrict the time to showing on just **one monitor**, this may not be ideal for some people, but it could be an interim fix to prevent the CPU load? Maybe add it as a checkbox in the config? But would that reduce the CPU load?

[2016-10-20 16:07] dodekeract commented on #8
There is no way this isn't possible to show on all screens. It's 100% just inefficient code with an accidental loop.

[2016-10-26 21:31] abhishekbanthia commented on #4
#8

[2016-10-27 13:48] andru opened #11 "Add UTC timezone"
It seems that it's only possible to add a timezone via a physical location. It'd be great to have the option to define UTC, since that's not subject to daylight savings adjustments and makes for a reliable way to coordinate between a group of people in different timezones.

[2016-10-27 13:55] andru commented on #11
Just incase anyone else needs this, I'm getting around it by using Iceland as my favourite, which uses UTC without daylight savings adjustments.

[2016-10-27 18:43] dodekeract commented on #11
This is definitely a good idea. I'm surprised this isn't in Clocker already. I'd 100% add that to my list of TZs.

[2016-10-27 18:54] abhishekbanthia commented on #11
Andru,

Clocker has a list of timezones you can add. You can browse through the timezones by clicking on _Search by Timezone(s) tab_:

<img width="551" alt="screen shot 2016-10-27 at 11 52 11 am" src="https://cloud.githubusercontent.com/assets/8280282/19780916/ee03394c-9c3b-11e6-887e-95debe43285a.png">

[2016-10-27 18:57] abhishekbanthia commented on #11
Also, note UTC is not a timezone, it's a standard on how the time is measured and coordinated, and hence Clocker does not include this. GMT and UTC share the same time in practice; so hope the workaround works out for you. :)

[2016-10-27 21:05] andru commented on #11
Though it's not a physical timezone, it is a time system used by many to
co-ordinate activity.

I can't see any way to actually select GMT. Rather, it only seems possible
to select cities/countries which subscribe to GMT as their *base* system
(e.g. the UK) but which may have varying system of summer time which alter
that system for some of the year. The UK, for example, uses BST (UTC/GMT+1)
throu

[2016-10-27 23:55] abhishekbanthia commented on #11
Thank you for the reply. Can you elaborate on what do you mean by "I can't see any way to actually select GMT?". (Check out the reference screenshot in the comment above; the timezone Africa/Abidjan corresponds to GMT)

If you head over to the _Search By Timezone(s)_ tab, there is a tableview which lists all the timezone(s) provided by Apple's NSTimezone class. (based on the Olsen DB).

For your p

[2016-10-28 00:13] dodekeract commented on #11
@abhishekbanthia his point is that he wants an option that **guarantees** to not be affected by daylight saving time.

[2016-11-03 11:25] Palid commented on #8
+1 For dual screen problem. Almost no usage on single screen, up to 35-40% cpu on dual screen (macbook pro mid 2012).

[2016-11-03 20:02] abhishekbanthia commented on #8
@Palid are the displays mirrored?

[2016-11-03 21:20] Palid commented on #8
@abhishekbanthia Nope.

[2016-11-03 22:43] dodekeract commented on #8
I'm extending to all 4 screens. No mirroring at all.

[2016-11-04 16:16] SashaOv commented on #8
Dual screen here as well, at least part of time

On Wed, Oct 5, 2016, 14:36 Florian Wendelborn <notifications@github.com>
wrote:

[2016-11-04 19:33] abhishekbanthia commented on #8
Ran a time profiler, and much of the problem lies with the recursive calling of menu bar's drawRect:

![screen shot 2016-11-04 at 12 47 25 pm](https://cloud.githubusercontent.com/assets/8280282/20019690/be0653d2-a28a-11e6-90bb-ed8207c3702a.png)

[2016-11-04 19:34] abhishekbanthia commented on #8
I have spent the much of yesterday and today debugging/fixing this and my changes are showing positive results (**0.8% CPU utilization** - tested with my MacBook Pro and external Thunderbolt monitor).

I'll attach a build after running some tests.

[2016-11-04 20:55] dodekeract commented on #8
@abhishekbanthia Something like this is exactly what I imagined would be the problem. Hope that fixes it for everyone.

[2016-11-04 21:30] abhishekbanthia commented on #8
Let me know if it works for you guys:

[Clocker.app.zip](https://github.com/abhishekbanthia/Clocker/files/572687/Clocker.app.zip)

[2016-11-04 21:51] dodekeract commented on #8
@abhishekbanthia Seems to be a lot better. It's down to `2.2%` CPU on my `i7-6700k`. I'm not sure if that's really needed, but it surely is bearable now. :smile:

[2016-11-04 22:06] redfox05 commented on #8
@abhishekbanthia, I can confirm this takes it down to variations around 0.8-3%

However, there seems to issues where when you open the menu it opens on another screen, sometimes under the clock on another screen, and sometimes even halfway down another screen. Currently using macbook screen and 2 external monitors, so 3 in total.

[2016-11-04 22:09] dodekeract commented on #8
@redfox05 Good point. I actually didn't test that menu. It looks *really* weird for me.

![screen shot 2016-11-04 at 11 08 55 pm](https://cloud.githubusercontent.com/assets/1133858/20023987/b74fb0b6-a2e3-11e6-9133-b8edc3554ce5.png)

[2016-11-04 22:17] abhishekbanthia commented on #8
Ah, @dodekeract positive that _restarting/moving to Applications_ fixed the weird appearances as well as the high energy usage?

[2016-11-04 22:56] redfox05 commented on #8
I already had it stored in /Applications, but I tried a restart of the application which did not help.
Also tried uninstall, open from Downloads, then close, then move to Applications, and then open again, and it still did not fix the issue. Menu still opens in random places on alternative screens.

[2016-11-04 23:17] dodekeract commented on #8
@abhishekbanthia Either restarting or moving fixed it. I did both at the same time so I don't really know. My guess would be restarting.

[2016-11-04 23:28] redfox05 commented on #8
Here are my screenshots if they help, the white box is just me blanking out my username.

In each test, the menu opens on screen 1.
Screen 1: Left external
Screen 2: Center external
Screen 3: Right macbook pro retina

Open from screen 1 clock:
![open-from-screen1-shows-on-screen1](https://cloud.githubusercontent.com/assets/7571495/20025437/8e957a58-a2ab-11e6-93c4-d11d4442e787.png)

Open from scree

[2016-11-06 01:47] abhishekbanthia commented on #7
Here's a build that works around the problem you're facing:

[Clocker.app.zip](https://github.com/abhishekbanthia/Clocker/files/573602/Clocker.app.zip)

[2016-11-07 06:53] prokher commented on #7
Thank you, seems it eventually works well.

On Sun, Nov 6, 2016 at 4:47 AM, Abhishek Banthia <notifications@github.com>
wrote:

[2016-11-07 17:23] #7 closed

[2016-11-14 12:37] Palid commented on #8
The CPU usage is resolved with your new binary, but could you please release the source code? We can't even help you if the code is one year old. :(

[2016-11-19 00:37] creechy opened #12 "Support displaying seconds."
Would be great if Clock would support displaying seconds, not just minutes.

[2016-11-19 00:40] creechy opened #13 "Option to display date in menu, not just day of the week."
Sometimes when dealing with different timezones with days before or behind you, its easier to just see the date (as well as the time) not just the day of the week.

Would be great if Clocker had another Day Display Option to display the full calendar day (i.e. Fri Nov 18, 2016).

Also, noticed that there's no option at all to display the year.

[2016-11-19 00:40] russelltrafford commented on #12
Not to 👎  your feature request, but hmm, optional please. Especially not on the Favorites given the big performance hits that were found in https://github.com/abhishekbanthia/Clocker/issues/8 from frequent updates to the taskbar :P

[2016-11-19 00:46] creechy commented on #12
Sure optional is fine. I use a very old program called Meridian right now, not sure if you can even find it anywhere. It does support second resolution. Never noticed any performance problem with menubar updates.

There are times when I am waiting for something to occur at the turn of a minute, its nice to see how long I have to wait :-)

[2016-11-19 03:53] abhishekbanthia commented on #8
@Palid The code here is up-to-date with the latest AppStore version. Usually, my policy is to commit working changes, but if you want to play around with my recent stuff, I'd be happy to do that.

[2016-11-19 03:54] abhishekbanthia commented on #8
And guys, sorry for the delay, the new version will be up as soon as my internship ends i.e. by the 2nd week of December.

[2016-11-19 04:01] abhishekbanthia commented on #13
Thanks for the feedback. This, along with your other issue, is something I've been planning to incorporate since a long time (so yeah keep an eye out for the next version).

[2016-11-22 00:48] robinst commented on #11
I can see a GMT time zone in Search by Timezone:

![screen shot 2016-11-22 at 11 46 29](https://cloud.githubusercontent.com/assets/16778/20506604/55528b26-b0a9-11e6-88d6-0487c6870a57.png)

[2017-01-10 09:25] abdonrd commented on #8
It is already fixed?

[2017-01-10 09:28] abdonrd opened #14 "Use the same font-size as native time"
The Clocker has a little font-size:

<img width="498" alt="screen shot 2017-01-10 at 10 26 09" src="https://cloud.githubusercontent.com/assets/1007051/21800758/50d48d14-d71f-11e6-83c9-fb6f82e761bf.png">

[2017-01-17 10:20] abdonrd commented on #14
With the last update:

<img width="414" alt="screen shot 2017-01-17 at 11 20 12" src="https://cloud.githubusercontent.com/assets/1007051/22016537/f0b8a6da-dca6-11e6-8349-3296f0d7c7d5.png">

[2017-01-17 11:30] abhishekbanthia commented on #12
The new update now supports displaying time with seconds. Here's the iTunes link: https://itunes.apple.com/us/app/clocker-menubar-world-clock/id1056643111?mt=12

Closing.

[2017-01-17 11:30] #12 closed

[2017-01-17 11:32] abhishekbanthia commented on #8
Thew new update should fix the issue.

Here's the update link: https://itunes.apple.com/us/app/clocker-menubar-world-clock/id1056643111?mt=12

Closing.

[2017-01-17 11:32] #8 closed

[2017-01-17 11:33] abhishekbanthia commented on #4
The new update should fix the issue.

Here's the update link: https://itunes.apple.com/us/app/clocker-menubar-world-clock/id1056643111?mt=12

Closing.

[2017-01-17 11:33] #4 closed

[2017-01-17 11:34] abhishekbanthia commented on #14
Ah, thanks for pointing out. I'll look into this.

[2017-01-17 16:47] russelltrafford opened #15 "When clicking on Clocker icon, icon disappears and seems to have crashed"
I just removed the unsigned versions now that the app store has been updated, and installed the official one from the App Store.

When I run the app, it appears in the taskbar, but as soon as I click on the icon, it disappears leading me to believe it has crashed as I then open the app again and it re-appears, but crashes again on click of the icon.

This happens both when I have my 2 external mon

[2017-01-17 17:20] abhishekbanthia commented on #15
Ah; that's bad. Can you attach your console logs if thats not much of a hassle for you?

[2017-01-17 17:25] russelltrafford commented on #15
Sure, but hmmm, how do I get the console logs?

[2017-01-17 17:30] abhishekbanthia commented on #15
1. Launch the Console application (from the Utilities folder inside your Applications folder).
2. Click the leftmost button in the toolbar to show the sidebar, if it’s hidden.
3. Select All Messages in the tab bar.
4. If the Activities button in the toolbar is enabled with a blue icon, click it to turn this off.
5. Switch back to the Clocker app, and try to trigger the issue. This will (hopefully!

[2017-01-17 20:39] abdonrd commented on #14
Thanks @abhishekbanthia!

[2017-01-17 20:43] abhishekbanthia commented on #13
Hi @creechy, just want to clarify you'll like to see the date in the Panel right?

<img width="340" alt="screen shot 2017-01-17 at 4 03 19 pm" src="https://cloud.githubusercontent.com/assets/8280282/22039044/a61cafde-dccb-11e6-992e-2a29504710cd.png">

[2017-01-17 22:15] creechy commented on #13
Hi.

I mainly wanted seconds in the Menubar. I saw your release and installed it. Just what I was looking for. Thanks!

  --joe

[2017-01-17 22:51] abhishekbanthia commented on #13
Great. Closing.

[2017-01-17 22:51] #13 closed

[2017-01-18 17:32] creechy commented on #13
The only slight nit-pick is that the font used for the Menubar doesn't appear to be 100% monospace (under macOS Sierra) and so the Menubar items bounce around slightly as seconds tick by.

[2017-01-18 18:41] dodekeract commented on #13
@creechy Can't you just add a 4-8 pixel padding or something around it that balances this?

[2017-01-20 17:21] abhishekbanthia commented on #14
Redesigning and would love your inputs:

<img width="321" alt="screen shot 2017-01-20 at 12 41 46 pm" src="https://cloud.githubusercontent.com/assets/8280282/22158605/05cc3512-df0b-11e6-95b0-33611bf93d59.png">

[2017-01-20 17:27] abdonrd commented on #14
Thanks! I will try when you release it! :)

[2017-01-20 17:37] creechy commented on #13
How would you add padding around the item? Are you talking programmatically in Clocker? As long as the padding will let it dynamically expand and decrease without causing the other menubar items to shift over I think this would work.

[2017-01-20 17:43] abhishekbanthia commented on #13
@creechy, thanks for raising the monospace issue. Good news is that AppKit actually has introduced support for monospaced fonts through the _NSFont_ class. The next version will feature the menubar text monospaced.

Here's a small demo:

https://streamable.com/3rely

[2017-01-20 17:56] creechy commented on #13
Sweet! Look forward to the next release. Thank you.

[2017-01-20 23:05] abhishekbanthia commented on #11
The separate GMT timezone should take care of this issue.

[2017-01-20 23:05] #11 closed

[2017-01-20 23:07] abhishekbanthia commented on #15
Hi @russelltrafford, you can also try clearing your Clocker defaults by executing the following command in your terminal:

_defaults delete com.abhishek.Clocker_

You'll need to start the app again. Let me know if this works.

[2017-01-20 23:29] russelltrafford commented on #15
Sorry for the delay. The command cleared the defaults, but did not solve the issue. Heres the logs:

2017-01-20 3:26:48.385 PM com.apple.xpc.launchd[1]: (com.abhishek.Clocker.233312[90944]) Service exited due to signal: Illegal instruction: 4
2017-01-20 3:26:48.400 PM com.apple.xpc.launchd[1]: (com.apple.ReportCrash[90960]) Endpoint has been activated through legacy launch(3) APIs. Please switch t

[2017-01-20 23:34] abhishekbanthia commented on #15
Sure, you can mail me [here](mailto:abhishekbanthia@me.com).

[2017-01-20 23:35] russelltrafford commented on #15
Cheers, I only have your @apple.com ID, I assume you longer have that?

[2017-01-20 23:36] abhishekbanthia commented on #15
I don't; since my internship ended :)

[2017-01-27 14:32] EdZava opened #16 "Booting does not work with OSx"
Even with the configuration option marked to boot with the OS the program does not open.
Always open manually.

macOS Sierra 10.12.1

[2017-01-27 14:34] EdZava commented on #15
I have the same problem.
It can be fixed?

[2017-01-27 14:34] abhishekbanthia commented on #16
Ahh, thanks for pointing that out. Here’s a workaround for adding Clocker to Login Items such that it starts each time you log in:

Here’s how you do it: Go to System Preferences —> Users and Groups —> Current User. Click on Login Items tab and add Clocker by clicking on + icon.

<img width="780" alt="screen shot 2016-08-09 at 10 07 41 am" src="https://cloud.githubusercontent.com/assets/8280282/22

[2017-01-27 14:36] abhishekbanthia commented on #15
I'm currently working on the problem. You can rollback to an unsigned version of the release which many people have reported to be working. I have attached the release to the comment here:

https://github.com/abhishekbanthia/Clocker/issues/8#issuecomment-258552442

[2017-01-29 03:45] markandrewj commented on #15
Just wanted to say I have been having the same issue.

[2017-02-08 18:18] EdZava commented on #16
thanks 👍

[2017-02-15 09:09] abdonrd commented on #14
@abhishekbanthia When the new release? 🙂

[2017-02-15 13:33] abhishekbanthia commented on #14
Hi @abdonrd; I'm busy juggling school, preparing for interviews etc. I've made decent updates for the next version, but there are some issues especially related to multiple monitors that I want to fix. I can't give you a timeline right now, but if you'd like I can upload a unsigned version that fixes #14.

[2017-02-15 13:35] abdonrd commented on #14
@abhishekbanthia ok, I will wait until you're free to release it. :)

[2017-02-23 22:22] russelltrafford commented on #15
No rush for me, but just to say im still getting this issue.

[2017-02-27 15:34] unthingable opened #17 "Time is stuck in the future after moving the slider and closing dropdown"
^ that

After moving the time slider and closing the window, the last known relative time becomes the "current" time. The slider resets to the left, but the time offset doesn't.

(Clocker 1.4, macOS 10.12.3)

[2017-03-01 00:14] abhishekbanthia commented on #17
Thanks for reporting. Issue is reproducible as well. Fix incoming..

[2017-03-04 15:14] abhishekbanthia commented on #17
@unthingable v1.4.1 is out on the App Store which should fix your issue. Closing.

[2017-03-04 15:14] #17 closed

[2017-03-04 15:16] abhishekbanthia commented on #16
@EdZava v1.4.1 update is available now on the App Store. You'll have to uncheck and check the "Start Clocker at Login" box again. Closing.

[2017-03-04 15:16] #16 closed

[2017-03-04 15:17] abhishekbanthia commented on #14
Hi @abdonrd, the new update is out. Let me know if you've any feedback. Closing this issue.

[2017-03-04 15:17] #14 closed

[2017-03-04 23:03] abdonrd commented on #14
It's nice! Thanks! :)

[2017-03-08 20:05] jimvanderveen opened #18 "Start Clocker at Login not working"
I have Clocker 1.4.1 installed (recently updated) on OS X El Capitan (version 10.11.6)
"Start Clocker at Login" is checked, but I have to start it manually whenever I log in.
I don't recall if it worked before updating to 1.4.1

Not urgent, just wanted to file the bug since I don't see one here.

[2017-03-08 20:42] abhishekbanthia commented on #18
Hi @jimvanderveen, can you try unchecking and checking the _**"Start Clocker at Login"**_ checkbox? I've actually changed the startup mechanism in the latest version. If it still doesn't work, let me know.

[2017-03-08 21:32] jimvanderveen commented on #18
Unchecked, logged out, logged back in. Started Clocker manually, checked "Start Clocker", logged out and back in. Clocker did not start. Sorry. Any other suggestions I can try? Remove/reinstall perhaps?

[2017-03-08 21:35] abhishekbanthia commented on #18
Ahh, thank you for the reply. Here’s a workaround: Go to System Preferences —> Users and Groups —> Current User. Click on Login Items tab and add Clocker by clicking on + icon.

<img width="780" alt="screen shot 2017-03-08 at 4 36 16 pm" src="https://cloud.githubusercontent.com/assets/8280282/23725077/299c9d60-041d-11e7-8033-0d56a6f786dc.png">

[2017-03-08 21:47] jimvanderveen commented on #18
That worked. Thanks!

[2017-03-13 23:59] abhishekbanthia commented on #15
Hey @russelltrafford, @markandrewj are you by using a custom date format?

[2017-03-14 00:10] russelltrafford commented on #15
Nope, dont think so? dont even know what that is.

[2017-04-17 12:44] zawarudo commented on #15
@abhishekbanthia

Getting this issue when I upgraded to macOS Sierra,
getting the same crash as noted above.

Cleared preferences with `defaults delete com.abhishek.Clocker`
which did fix the problem.

However adding a time zone made it crash again.

Attempted to grab relevant logs from console but the errors only show up as <private> messages

![image](https://cloud.githubusercontent.com/assets/2

[2017-04-17 13:50] abhishekbanthia commented on #15
Thank you for reporting the issue, @zawarudo. I assume, you're not using any custom time and date format?

<img width="780" alt="screen shot 2017-04-17 at 09 53 43" src="https://cloud.githubusercontent.com/assets/8280282/25090787/56e84012-2353-11e7-8f62-97a3e9f48ff1.png">

[2017-04-17 13:54] zawarudo commented on #15
I did not change anything before or after updating OSX, here is what I have.

![image](https://cloud.githubusercontent.com/assets/2955134/25090879/bf707a88-23c0-11e7-97ba-c3181ddeeaf4.png)

[2017-04-17 16:31] abhishekbanthia commented on #15
Are you on macOS 10.12.1?

[2017-04-20 02:14] markandrewj commented on #15
Hey, sorry for the late reply, I am not using a custom time format as far as I know. I am using macOS 10.12.4.

[2017-04-20 02:17] zawarudo commented on #15
Also on macOS 10.12.4

[2017-04-21 17:05] abhishekbanthia commented on #15
Thanks for the reply! quick question: are you guys based out of US?

[2017-04-21 17:16] zawarudo commented on #15
@abhishekbanthia I am,

funny enough while trying to take a screenshot of the language and region option

![image](https://cloud.githubusercontent.com/assets/2955134/25288726/99e77bf6-2701-11e7-9c6d-41274dee2d49.png)

for you I realized it had an extra language for german in there which is strange because I only ever do english and japanese.

Once I removed it my clocker works perfectly.

[2017-04-21 22:46] markandrewj commented on #15
I am in Canada.
![screen shot 2017-04-21 at 4 43 58 pm](https://cloud.githubusercontent.com/assets/142597/25298442/fbee6512-26b1-11e7-90e3-fbfc87b1ae38.png)

[2017-04-24 17:15] russelltrafford commented on #15
I'm in Canada. BC. PST Timezone.

[2017-04-25 20:15] khaintt opened #19 "Black menu icon"
If we have option to choose color or black/white menu icon, it would be great.

[2017-04-26 15:14] phamann commented on #9
This still seems to be an issue on Sierra. Unlike the previous posters, the menu doesn't flash or appear somewhere else when the icon is clicked on the secondary screen it just does nothing. It only works when the icon is clicked on the 1st screen.

Any update for a fix? Thanks for a great tool!

[2017-04-27 23:19] abhishekbanthia commented on #15
Well. If the issue is what I think it is, the attached build should fix the crashes. Let me know how it goes.

[Clocker.app.zip](https://github.com/abhishekbanthia/Clocker/files/963126/Clocker.app.zip)

[2017-04-28 02:10] markandrewj commented on #15
Hey, the new settings look nice. This did fix the crashing issue. However, I am on a dual monitor, and it always opens the the panel in the top right of my left (second) monitor. I also miss being able to have it in a mode with just the clock icon. Thanks for working on this, I know it's just a pet project, but I enjoy that this is small world view clock with out bloat.

[2017-04-28 02:38] abhishekbanthia commented on #15
@markandrewj if you don't have any favourites, you should see the clock icon in the menubar. Also, fix for multiple monitors is next on my list. :)

<img width="582" alt="screen shot 2017-04-28 at 12 06 58 am" src="https://cloud.githubusercontent.com/assets/8280282/25512219/a3a67026-2ba6-11e7-8487-333ca3825492.png">

[2017-04-30 03:26] markandrewj commented on #15
Awesome :)

[2017-05-02 01:01] abhishekbanthia commented on #19
Hi @khaintt, the new version supports black and white icons for light and dark menu-bar mode respectively. Check it out.

[2017-05-02 01:01] #19 closed

[2017-05-02 01:03] abhishekbanthia commented on #9
Guys, the new version attempts to fix this issue. Clocker should open on the monitor where the click takes place. Let me know how it goes.

[2017-05-02 01:04] abhishekbanthia commented on #15
Hi @markandrewj, the new version attempts to fix the monitor issue. Let me know how it goes.

[2017-05-02 12:02] markandrewj commented on #15
Seems to be working, thanks :)

[2017-05-02 13:07] abhishekbanthia commented on #15
Guys, new version is out which should fix the crashing issue. Closing this for now.

[2017-05-02 13:07] #15 closed

[2017-05-02 15:32] abhishekbanthia commented on #9
Closing.

[2017-05-02 15:32] #9 closed

[2017-05-02 20:52] guiporto opened #20 "Unnecessary scroll bar + lack of some padding"
After the latest update, there's a scrollbar on my clocker that I don't recall having it before. Also, I believe you could add some padding on the x axis to make a little white space in it.

<img width="330" alt="screenshot 2017-05-02 17 50 20" src="https://cloud.githubusercontent.com/assets/1811399/25638768/ddde3c3a-2f5f-11e7-98d0-53e4076bf414.png">

[2017-05-02 20:59] abhishekbanthia commented on #20
Woah; that looks ugly. Can you tell me the following things:

1. Which OS are you using?
2. Are you using multiple monitors?
3. Did you add just 3 timezones?

[2017-05-02 21:02] guiporto commented on #20
1. I’m using Mac OS Sierra 10.12.4 (16E195)

2. Yes I’m using multiple monitors, but the issue also happens when I disconnect them (just tried it)

3. Yes, only those 3 timezones

On Tue, 02 May 2017 at 17:59 Abhishek Banthia

<
mailto:Abhishek Banthia <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

Woah; that looks ugly. Can you tell me the following

[2017-05-02 21:08] abhishekbanthia commented on #20
Great; thanks. I'm able to reproduce this while I hover near the right side of the Panel.

Looking into this.

[2017-05-09 04:40] peterdalydickson opened #21 "List of timezones becomes unsorted on drag/drop of a timezone"
Steps to create the issue:

1. Have a list of timezones in alphabetical order
2. Add a timezone
3. Drag the new timezone to the correct place in the list

Expected behaviour:

* List stays in alphabetical order, with the newly inserted timezone in the correct place

What actually happens:

* The timezone that was underneath the new timezone before it was dropped in place moves to the bottom of the

[2017-05-09 14:26] abhishekbanthia commented on #21
Ah, okay. Thanks for pointing this out; I'll take a look at this...

[2017-05-09 15:00] peterdalydickson commented on #21
Maybe being able to choose 'sort alphabetically', 'by timezone (diff. from GMT)' would be useful too!

[2017-05-09 15:32] abhishekbanthia commented on #21
That's an interesting suggestion.

[2017-05-09 19:24] abhishekbanthia commented on #21
So I just added sorting(ascending/descending) functionality as well as fixed the drag & drop. I'm attaching the newer version. Do give it a try if you get time.

![out](https://cloud.githubusercontent.com/assets/8280282/25868675/8eebb410-34cb-11e7-8e60-4e3000f1c8d3.gif)

[2017-05-09 19:25] abhishekbanthia commented on #21
Here's the newer version:

[Clocker.app.zip](https://github.com/abhishekbanthia/Clocker/files/987790/Clocker.app.zip)

[2017-05-09 19:28] peterdalydickson commented on #21
Hmmm... I lost all my timezones :(

[2017-05-09 19:46] abhishekbanthia commented on #21
My bad. Should have warned you. Your old timezones should be available from the Clocker version you downloaded from the App Store (should be in the Applications folder).

[2017-05-09 21:25] peterdalydickson commented on #21
No probs... it was easy enough to add them back in.

Will my version get updated, or should I install from the App Store again?

Also... my idea about the timezone sort was for it to be different from the
label sort... that it would be in sorted in no. hrs difference from GMT/UTC
- or maybe even from the Favourite... that might make more sense.

e.g. say your cities, in alphabetical order, were Bu

[2017-05-09 22:00] abhishekbanthia commented on #21
It makes sense yes :) Timezone sorting has been in my plans but it's kinda tricky to implement & test with the current codebase. But yeah do keep an eye out for the future versions.

Also, you'll need to update the app from the App Store when the new version releases.

Thanks for your feedback.

[2017-05-16 12:35] peterdalydickson opened #22 "Multiple display issues"
This is the display of all my timezones on my external monitor...

![item-0_and_fantastical_and_item-0_and_item-0](https://cloud.githubusercontent.com/assets/17453188/26106019/69129094-3a3c-11e7-91c3-3057e3a74231.png)

And this is the same list on my laptop...

<img width="403" alt="item-0_and_fantastical_and_item-0_and_item-0" src="https://cloud.githubusercontent.com/assets/17453188/26106040/7657

[2017-05-16 20:03] abhishekbanthia commented on #22
Thanks for reporting this. Looking into it.

[2017-05-19 16:54] peterdalydickson commented on #22
Thanks.

Let me know what you find. It's getting annoying! ;)

[2017-05-22 19:30] abhishekbanthia commented on #22
Hi @peterdalydickson, are you mirroring your display?

[2017-05-22 19:35] peterdalydickson commented on #22
No. It's an external monitor.

—

*Peter Daly-Dickson*
Conquer The Chaos Ltd
Infusionsoft Certified Partner

​

On 22 May 2017 at 20:30, Abhishek Banthia <notifications@github.com> wrote:

[2017-05-27 12:32] abhishekbanthia commented on #22
Does restarting the app help?

[2017-05-30 03:15] peterdalydickson commented on #22
On my laptop... yes.

On the external monitor... no.

[2017-05-30 13:01] IkonOne opened #23 "Vertical Scroll Bar covers times"
MacBook Air (13-inch, Mid 2013)
OSX 10.12.5

As stated, the vertical scroll bar in the when Clocker is attached to the menu bar covers part of the times.  This issue is not present in floating mode.

Or maybe it isn't a vertical scroll bar?

![screen shot 2017-05-30 at 6 57 40 am](https://cloud.githubusercontent.com/assets/1105646/26584329/ab5cb3e8-4505-11e7-8c4c-51dcdbb24c70.png)

[2017-05-30 14:37] abhishekbanthia commented on #23
Hi @IkonOne, thanks for reporting. This seems to be an issue with the black theme. Looking into this.

[2017-05-30 17:40] IkonOne commented on #23
Thank you @abhishekbanthia  It appears to be an issue with the default theme as well by the way.

![screen shot 2017-05-30 at 11 39 46 am](https://cloud.githubusercontent.com/assets/1105646/26596685/cb1cda7e-452c-11e7-9e38-0892e5ed8670.png)

[2017-05-30 18:08] abhishekbanthia commented on #23
Yikes; similar to #20.

[2017-05-30 22:48] IkonOne commented on #23
Oh, I didn't realize there was already an issue for this.  I'll close this one and reference it in the other issue.

[2017-05-30 22:49] IkonOne commented on #23
It looks like you closed the other issue...

[2017-05-31 00:14] abhishekbanthia commented on #23
I'm unable to reproduce it in the latest version :( . Are you using multiple monitors?

[2017-05-31 17:53] abhishekbanthia commented on #23
hey @IkonOne, i'm uploading a version which I believe fixes the issues. Can you try it and let me know? Thanks. FYI: You might need to add your timezones again.

[Uploading Clocker.app.zip…]()

[2017-06-01 16:05] abhishekbanthia commented on #23
[Clocker.app.zip](https://github.com/abhishekbanthia/Clocker/files/1045377/Clocker.app.zip)

[2017-06-02 13:29] ryangum commented on #23
That fixed it for me!

[2017-06-03 23:23] tristinDLC commented on #20
Just reporting in with the same issue. I _just_ updated to 1.5 and have the same unnecessary scrollbar as well as the incorrect padding. Prior to the update I was just having the padding issue and a hunt for a fix is what lead me to update today. I'm running macOS 10.12.4 and app version 1.5 on a MacBook Air which has the problem showing up on both the native screen as well as an external monitor

[2017-06-04 01:10] abhishekbanthia commented on #20
Hi @tristinDLC,

Thanks for the kind words. I've attached a newer version which fixes the scrollbar issues. Try it and let me know!

[Clocker.app.zip](https://github.com/abhishekbanthia/Clocker/files/1050054/Clocker.app.zip)

[2017-06-04 01:43] tristinDLC commented on #20
I did a complete uninstall of the old application and reinstalled with the linked above version. Works like an absolute charm. Nice to see some take some quick action in bug reports.

Would you be willing to accept a message about a suggestion on some UI/UX with the app? I would love to shoot you an email or something :)

[2017-06-04 01:59] abhishekbanthia commented on #20
Absolutely; you can mail me at abhishekbanthia @ me dot com.

[2017-06-12 05:44] abhishekbanthia opened #24 "Hello World"

[2017-06-12 05:44] #24 closed

[2017-06-12 06:23] abhishekbanthia opened #25 "Hello World"

[2017-06-12 06:59] luaiosproject opened #26 "Some random title"

[2017-06-22 18:19] #26 closed

[2017-06-22 18:19] #25 closed

[2017-07-12 12:56] peterdalydickson opened #27 "Hotkey doesn't work until you go into preferences"
I have ⌘F12 set as the hotkey to open Clocker.

However, after starting Clocker, ⌘F12 only works after I click the cog to open preferences.

[2017-07-12 14:32] abhishekbanthia commented on #27
Looking into it.

[2017-07-16 16:22] abhishekbanthia commented on #23
Guys, any of you have the system preference to always show scroll bars?

<img width="655" alt="screen shot 2017-07-16 at 11 22 24 am" src="https://user-images.githubusercontent.com/8280282/28249313-14932882-6a19-11e7-9757-9118d1875163.png">

[2017-07-16 16:23] abhishekbanthia commented on #20
Referenced #23

[2017-07-16 16:23] #20 closed

[2017-07-16 16:35] abhishekbanthia commented on #27
That's easily reproducible. The issue is with the shortcut observer not starting when you restart Clocker.

[2017-07-16 16:37] abhishekbanthia commented on #21
Hi @peterdalydickson, Clocker v1.5 has an option to sort the time zones based on time difference in both ascending  and descending order. Go to Preferences and click on the toggle sorting options button. Try it out and lmk.

<img width="697" alt="screen shot 2017-07-16 at 11 36 45 am" src="https://user-images.githubusercontent.com/8280282/28249424-188e4276-6a1b-11e7-922e-5e4b64871364.png">

[2017-07-16 16:37] #21 closed

[2017-07-18 21:22] IkonOne commented on #23
No.  It is set to 'Automatically based on mouse or trackpad' on my end.

On Sun, Jul 16, 2017 at 11:22 AM, Abhishek Banthia <notifications@github.com

[2017-07-26 14:48] abhishekbanthia commented on #27
Hi @peterdalydickson, the new version is out now which should fix this issue. Closing..

[2017-07-26 14:48] #27 closed

[2017-07-26 14:48] abhishekbanthia commented on #23
The new version is out which should fix this issue. Closing...

[2017-07-26 14:48] #23 closed

[2017-07-26 14:49] #18 closed

[2017-08-08 16:35] EParrish commented on #22
I am also having a similar issue. Except mine does not show up on the external monitor at all.

[2017-08-08 16:42] abhishekbanthia commented on #22
Weird. Are you mirroring display?

[2017-08-08 16:47] EParrish commented on #22
No, I have it as an external monitor. Restarting the app did nothing.

[2017-08-08 16:51] abhishekbanthia commented on #22
Alright. Can you tell me the following to help me debug the issue:
1. macOS version
2. Clocker version
3. Any custom display setting that you might have turned on/off.

[2017-08-08 16:56] EParrish commented on #22
1. macOs Sierra Version 10.12.6
2. Clocker 1.5.1
3. I don't believe I have any extra settings turned on/off. I just plugged it in and rearranged the position of the screen.

Thank you for your help. Clocker is great, it makes scheduling across timezones a lot easier.

[2017-08-09 15:31] abhishekbanthia commented on #22
I tried different setups with my two external monitors and my Macbook but I'm unable to reproduce this. :(

[2017-09-14 16:23] hezhizhen opened #28 "up next display"
I closed the up next part and now I want to enable it, but I have no idea about it.

[2017-09-14 17:46] abhishekbanthia commented on #28
Hi @hezhizhen, you'll have to open terminal and execute the following command.

`defaults write com.abhishek.Clocker ShowUpcomingEventView "YES"`

This was a beta feature that I wanted to A/B test. You'll have an option in the preferences section to enable this in the next version.

[2017-09-14 23:51] #28 closed

[2017-09-19 12:04] peterhartman opened #29 "Ability to change the increment of the future slider"
Most of the time I am not interested in incrementing the slider by 1 minute at a time, it would be good to have the option for the slider to increment in larger chunks at a time, eg. 5, 10, 15 mins.

[2017-09-19 15:00] abhishekbanthia commented on #29
I'm working on this for the next version. One feedback that I received was that the slider could let you see only one day in the future. So, I'm increasing this range and making this user customizable:

<img width="549" alt="screen shot 2017-09-19 at 9 57 59 am" src="https://user-images.githubusercontent.com/8280282/30599167-4275218e-9d21-11e7-8bdd-aae2fbebf53f.png">

Would something like this hel

[2017-10-05 18:15] unthingable commented on #29
Quantizing the time ruler by the hour would be the most useful for me personally (until I work with India, the minutes are the same everywhere and I can mentally extrapolate 20:00 to 20:45 quite easily).

[2017-10-05 19:56] abhishekbanthia commented on #29
That makes sense. I'm leaning towards providing slider time options which Peter suggested; 15 mins, 30 mins, hour, day etc. By default, I'm planning to set this as an hour.

[2017-10-05 21:15] peterhartman commented on #29
1 hr default sounds great to me.

@unthingable, watch out! Not just India that has :30 or :45 offsets:
https://www.timeanddate.com/time/time-zones-interesting.html

[2017-12-05 23:42] abhishekbanthia commented on #29
New version with this setting's out on the App Store. Closing.

[2017-12-05 23:42] #29 closed

[2017-12-07 19:02] unthingable opened #30 "height problems"
Thanks for the slider increments!

Timezone panel height calculations looks off (and it's not possible to scroll to see all of "GMT"):

<img width="346" alt="clocker" src="https://user-images.githubusercontent.com/925755/33733169-3178e36a-db89-11e7-9652-2d89ee3e818a.png">

[2017-12-07 19:56] abhishekbanthia commented on #30
Been fixed in the upcoming version. I've released an update for the App Store (pending Apple's approval).

[2017-12-07 19:59] #30 closed

[2017-12-08 00:38] unthingable commented on #30
😍

[2017-12-08 00:47] unthingable opened #31 "Slider increments, steps and range"
Changing the value of an increment doesn't change the slider step size or range, so 1 hour increment covers three months of time in pixel-sized steps.

It would be far more useful for the range to remain unchanged (at least for sub-day increments) and for step size to increase proportionally to the increment.

[2017-12-09 00:06] leegenes opened #32 "Allow 12/24 hour choice by timezone"
I'm using a local US timezone, and UTC. Would be really great if it were possible to use 12 hour for local time, and 24 hour for UTC.
Possible enhancement as in the US most interact with 12 hour day-to-day, but UTC is convenient to see 24 hr at a glance.

[2017-12-10 18:53] abhishekbanthia commented on #32
Working on it for the next version.

[2017-12-11 16:40] abhishekbanthia opened #33 "Status bar time not updating"
"With the new update the time when viewed in the status bar seems to not be updating any more. I need to go into config, add a ‘favourite’ then remove it again and this will update the time"

[2017-12-14 00:51] leegenes opened #34 "Timezone duplicated in menu bar"
Potential bug

Seeing this:
![](https://d1ro8r1rbfn3jf.cloudfront.net/ms_169180/1JUgdLeS3SEyeesSdmeLGoMzoc2iyN/Item-0%2B2017-12-13%2B16-46-59.png?Expires=1513299016&Signature=QG8g2Th0Geg3aPyx-Q~XtMR4DdWcsAxoEl3WJegsBFN~1KE8emCnMg-ZNttkDzUUHK8NshoiMwtZ4MM7JzhJn6DhjgaE8FeFo87Hm5HAtkD9eDLVYlzLsd3kTw2FYHpsWvx-7ux8jAPbBHhnAL1g7RHrQa75wnE8LnJ83Eqkwdk6U~l828eFH8K8kDAlFiTaMJ~Kjr51GqIkI1pPTgXRprJrFNYc2-Nuo

[2017-12-15 04:40] abhishekbanthia commented on #34
Hi @leegenes, can you reattach the images? This is what I'm seeing:

<img width="785" alt="screen shot 2017-12-14 at 10 39 49 pm" src="https://user-images.githubusercontent.com/8280282/34027044-c1dc5c16-e11f-11e7-896a-395a9773badd.png">

[2017-12-15 10:16] peterhartman commented on #31
+1 for @unthingable's point above. I would be happy for the slider range to be fixed at 1-1.5 day (either side if you are including issue #6)

[2017-12-15 10:36] peterhartman commented on #6
![7588e714-6c9f-11e4-85f1-a89a6c1cff0b](https://user-images.githubusercontent.com/1226762/34037910-61aca2de-e182-11e7-9500-09d216b27925.png)

A time slider that starts in the middle and lets you go back or forward in time (with some indication which way you have moved -ive or +ive)

[2017-12-15 21:39] leegenes commented on #34
oh! not ideal. sorry about that.
![tz](https://user-images.githubusercontent.com/13713190/34061485-6a194c40-e19d-11e7-9601-bd63c756de7f.png)

[2017-12-18 05:55] abhishekbanthia commented on #34
Yikes. Thanks for the images. I'll take a look.

[2017-12-19 19:30] abhishekbanthia opened #35 "Should shows "min" instead of plural for a calendar event displayed in menubar"
Seen in 1.5.23 (37).

[2017-12-19 22:45] abhishekbanthia commented on #35
Fixed. Time > 2 minutes will show plural else it'll 'minutes' will be singular.

[2017-12-19 22:45] #35 closed

[2018-01-12 14:55] grishka commented on #34
I've just had this exact thing happen. I'm using a dual-display setup (a MacBook with a monitor) if that matters. I fixed it by unchecking the single timezone I've added and then checking it again and it no longer reproduces even if I restart the app.

[2018-02-21 04:07] RomeshA commented on #31
I would +1 this too, usually I would be wanting to schedule things in next 24-48 hours, so currently it is quite difficult to select a specific time because the tiniest movement corresponds to a huge change in time

[2018-02-22 17:49] chere005 commented on #33
Time doesn't update properly after new update.. Though I also just updated to High Sierra, but I'm pretty sure it's the clocker update. It'll update after I click my status bar.

[2018-02-22 22:34] abhishekbanthia commented on #33
Have you, by any, chance, turned on the option of "Showing Next Meeting Title in the menubar"?

[2018-02-22 23:14] chere005 commented on #33
Hmm, I'm unable to reproduce now. I don't see that option, possibly because
I haven't granted cal access

On Thu, Feb 22, 2018 at 4:34 PM, Abhishek Banthia <notifications@github.com>
wrote:

[2018-02-22 23:16] abhishekbanthia commented on #33
Aha. That's the challenge, I'm having a hard time reproducing it as well.

[2018-02-22 23:20] chere005 commented on #33
I shall try to pay attention.. Is there any info I can try to get if it
happens again?

On Thu, Feb 22, 2018 at 5:16 PM, Abhishek Banthia <notifications@github.com>
wrote:

[2018-02-22 23:46] abhishekbanthia commented on #33
If you can, send me a screenshot of your Clocker settings (Command + ,) and then click on the Appearance tab when it happens. Also, keep an eye out for the following:
1. Did it occur after a restart/awake after sleeping?
2. Does it occur at a particular time in the day? Or when you add a particular timezone? Basically, as much information about the circumstances.

Thank you for your help :)

[2018-02-23 21:48] slippycheeze opened #36 "wishlist: show date for current timezone only, separate from time display"
My dream layout for multiple timezones (default: NYC) would be this:

[Fri Feb 23 20:35 SF 17:35 D 1:35+]

That is:  <date in NYC> <time in NYC> SF <SF time> D <Dublin time> <+ for "next day">

Using a "+" or "-" to indicate "next" or "previous" day is compact, which is much nicer on a small display.  (Alternative: something like http://www.iconarchive.com/show/windows-8-icons-by-icons8/Time-Date-

[2018-03-06 18:33] AfzalivE commented on #22
Also notice how the text is blurred on the external monitor, I'm seeing the same issue

[2018-03-06 18:51] abhishekbanthia commented on #22
I was unable to reproduce this last time, but I've two new monitors to play with this time around. I'll take a look.

[2018-03-07 19:43] vamsivinay opened #37 "Sliding the bar at the bottom is crashing the app"
This behavior is observed after the new update 1.5.23.
If you click at specific spot then that's fine but if you slide then its getting crashed.

Its also getting crashed when I slided it back after clicking to a specific time stamp.

![image](https://user-images.githubusercontent.com/19917082/37114284-df5533bc-2215-11e8-8426-6508e91a8e34.png)

[2018-03-07 20:35] abhishekbanthia commented on #37
Thanks for reporting this. This is scarily easy to reproduce. Investigating.

[2018-03-07 21:26] britcey commented on #32
I'd love this too, with a variant - I'd like my local time to be AM/PM in the taskbar, with 24-hour time for timezones shown in the dropdown.

[2018-03-09 14:03] abhishekbanthia commented on #37
A new update is out on the App Store which fixes this issue. Closing this. Feel free to reopen if you encounter this again.

[2018-03-09 14:03] #37 closed

[2018-03-18 01:18] amit0rana opened #38 "'Home' Timezone - Feature request"
Add a setting to indicate specific TZ is 'home' and display it automatically if Clocker finds that I am currently not in my home TZ.

Along same lines, settings to not show 'local' TZ.

For eg:
I have offices in NJ, Sydney and Bangalore. I do not want to see my local Time in Clocker (may be specific to me, for my local time I prefer Mac's clock). So when I am in Bangalore I like to see NJ, Sydney

[2018-03-18 01:30] amit0rana commented on #36
my 2 cents

- I don't use Clocker for my 'local' date/time. I use 'Mini Calendar' for local date/calendar and Mac's default time for local time
- I find 'day' very useful and quick to read. I may get used to +/- but as of now I like to see day
- I can imagine if someone uses clocker for local datetime then not showing label is a good idea.

[2018-03-18 01:35] amit0rana commented on #31
+1

[2018-03-21 05:41] abhishekbanthia commented on #36
@slippycheeze about the labels/divider. You can work around this in the current version. Just edit the label with a '|' or '' label to customize how you want your local timezone to appear.

[2018-03-22 21:37] abhishekbanthia commented on #34
This should be fixed in one of the previous releases.

[2018-03-22 21:37] #34 closed

[2018-03-25 06:32] AbdealiJK commented on #31
+1 from me too - sliding is a bit tough right now.

[2018-03-25 06:33] AbdealiJK opened #39 "Allow changing time manually"
The slider is great to see the time in the future, but I would love to be able to simply double-click on my NewYork timezone and say "23:30" and see what times the other timezones will be at.

This makes it simpler to just search for a specific time and see what that time in other zones is.

[2018-06-01 15:58] laghee opened #40 "Upgrading to v1.5.25 causes system hang/crash"
Version 1.5.1 (installed with homebrew) was working fine, but when I followed prompts to upgrade to 1.5.25 and tried to re-open the app ... everything blew up. While Clocker didn't look like it was open, it showed up in Activity Monitor. But the fan kicked into overdrive almost immediately, all the icons in the menu bar (Dropbox, Google Drive Sync, system indicators) disappeared, and response went

[2018-07-06 02:52] slackmage commented on #31
You can build it from the source and adjust the sensitivity of the slider by dividing by some number. I chose 50.

<img width="1115" alt="image" src="https://user-images.githubusercontent.com/230274/42357447-f86a4844-80a5-11e8-871c-ee2e2acb78f6.png">

[2018-07-09 17:39] abhishekbanthia commented on #40
Hi @laghee, have you selected multiple favorites?

[2018-07-09 18:18] laghee commented on #40
Yep, 7.

[2018-07-09 18:34] abhishekbanthia commented on #40
Aha. If there isn't enough space on the menubar for all 7 places, macOS hides Clocker (making it look like the app isn't open). I suggest reducing the number of favorites as I work on a more compact menubar design. Thanks.

[2018-08-13 13:39] roko-p opened #41 "High CPU usage"
At least in my case, Clocker uses a *lot* of CPU, and after some time always gets to above 90% at which point I kill it. (And I've kind of grown tired of restarting it)

Here's some info about my system:

[code]
Is this a known issue?

[2018-08-14 02:01] abhishekbanthia commented on #41
Did you have the option "Show Next Meeting in Menu Bar" turned on? If so, does turning it off helps?

<img width="675" alt="screen shot 2018-08-13 at 21 00 43" src="https://user-images.githubusercontent.com/8280282/44067628-0ad58bc4-9f3c-11e8-8bf0-2e40b0fd3962.png">

[2018-08-14 18:42] #40 closed

[2018-08-17 11:23] l2dy opened #42 "Source code for v1.6?"
Hi, I noticed that this repository hasn't been updated for a year, but the app on the Mac App Store has been updated recently. Will you publish its source code?

[2018-08-17 15:58] abhishekbanthia commented on #42
Yes. There are definite plans. I just converted the whole app to use Swift. I still need to do some cleanup and refactoring. As soon as that's done, I'll push everything here.

[2018-08-17 19:53] #42 closed

[2018-08-19 23:36] unthingable opened #43 "1.6.01 issues"
![image](https://user-images.githubusercontent.com/925755/44314363-263daf00-a3cd-11e8-9d12-461b3e842fdf.png)

That is not the world I know. :)

After upgrading from 1.5...

1. The times are all local.
1. What happened to the compact layout? Would really like it back.
1. Clocker did not detect a time zone change, still thinks I'm in the previous one... but the new time zone appears to have been add

[2018-08-19 23:38] unthingable commented on #43
5 - ... but the new time zone appears to have been added to the bottom of the list. The new and the old timezones seem to have lost sunrise/sunset times.

[2018-08-20 12:19] roko-p commented on #41
Yes I did, and yes, it seems it does!
A couple of days with that option turned off, all seems good ☺️
I'll keep it turned off until it possibly gets fixed in an update some day, thanks!!!

[2018-08-20 14:48] abhishekbanthia commented on #43
This should be fixed in 1.6.02.

[2018-08-22 18:23] sloanlance opened #44 "Show time in menu bar"
Much like Apple's own Date & Time system preferences, I need Clocker to show the time in the menu bar.  That way, I can see the local time, displayed by Apple, and I could see the time in another time zone, displayed by Clocker.

[2018-08-23 04:36] abhishekbanthia commented on #44
You can do that already by favouriting a timezone.

[2018-08-23 04:36] #44 closed

[2018-08-27 04:59] abhishekbanthia commented on #39
Available in 1.6.02!

[2018-08-27 04:59] #39 closed

[2018-08-27 04:59] #33 closed

[2018-08-27 05:01] abhishekbanthia commented on #22
Is this fixed @peterdalydickson?

[2018-08-27 05:01] abhishekbanthia commented on #32
Available in 1.6.02!

[2018-08-27 05:01] #32 closed

[2018-08-30 14:44] fspiga opened #45 ""Anywhere on Earth" timezone"
https://www.timeanddate.com/time/zones/aoe

[2018-08-30 19:31] abhishekbanthia commented on #31
A date picker in the Future has been added to Future Slider enhancements! If this doesn't solve the issue, re-open the issue and let me know your use-case!

[2018-08-30 19:31] #31 closed

[2018-08-30 19:34] abhishekbanthia commented on #6
1. I've had rarely had feedback suggesting users wanting this.
2. The slider is already cramped for space!

I'll jump on this if there's more demand.

[2018-08-30 19:34] #6 closed

[2018-08-30 19:34] #22 closed

[2018-08-31 06:50] unthingable commented on #43
Removed the point about the "pin" icon (was referring to
![image](https://user-images.githubusercontent.com/925755/44896610-11301c80-acf9-11e8-8395-90d2618e6276.png)) after discovering what it does. That changed the list numbering :(

3 (former 4): After readding the time zones they were no longer affected by the local timezone change, so the issue is minor

5 (former 6): Not exactly. Example use

[2018-08-31 06:56] unthingable opened #46 "Slider "snap" to hours option"
A reincarnation of #31 :)

Use case: you are on a call and trying to quickly find a time for a multi-zone meeting. Having the time slider "snap" to the hour is faster than either "hunting" for the hour with a continuous slider or repeatedly typing in different times, and will make it easier to see the whole picture quickly. The date is not as important in this case.

[2018-08-31 06:56] unthingable commented on #31
Reopened as #46 .

[2018-09-07 01:09] mchsk opened #47 "Unable to start the app even after reinstall (request failed, insufficient permission)"
`xxxxxxx-macbook:~ xxx$ /Applications/Clocker.app/Contents/MacOS/Clocker`
->
[code]

[2018-09-07 01:11] mchsk commented on #47
Hey, so as far as I remember there were some settings in the Clocker where I have checked two checkboxes for the permissions (?) - I cant remember precisely since the app cannot be open anymore.
Since then it could not be open, nothing visible in the toolbar but using `htop` I saw it as a process.

I tried removing some Calendar cache files ->
https://wilkinsit.ca/mac-osx/clear-calendar-cache-mac-

[2018-09-08 03:58] abhishekbanthia commented on #47
Thanks for reporting. Can you try resetting the defaults and verifying if the app opens up? Here's how you do that:

1. Close Clocker (Force quit the process from the Activity Monitor if neccesary!)
2. Go to Terminal and type in the following command: `defaults delete com.abhishek.Clocker`
3. Press the Return key
4. Open Clocker again!

[2018-09-09 15:08] core-code opened #48 "releases since 1.5.1 missing from website&github"
is Clocker now MacAppStore-only or are downloads on github coming back? thanks for the clarification

[2018-09-09 17:51] abhishekbanthia commented on #48
Check this out: #42

[2018-09-09 17:51] #48 closed

[2018-09-09 18:05] core-code commented on #48
awesome, thanks

[2018-09-09 23:00] mchsk commented on #47
@abhishekbanthia hey, seems to have worked thanks 👍

[2018-09-10 10:26] neeklamy commented on #45
Interesting, I’d never heard of this.

It’d be nice to have UTC too.

[2018-09-10 13:03] abhishekbanthia commented on #45
UTC is already present! You'll need to go to the timezone tab.

<img width="745" alt="screen shot 2018-09-10 at 8 02 27 am" src="https://user-images.githubusercontent.com/8280282/45299056-f6fff680-b4cf-11e8-9ab1-29c24ad69ad6.png">

[2018-09-10 13:04] abhishekbanthia commented on #47
Great. The issue should be fixed in the 1.6.04!

[2018-09-10 13:04] #47 closed

[2018-09-10 15:43] neeklamy commented on #45
Thanks! I just typed in `utc` (lowercase) and didn’t see it there at the top of the list:

![wheres-my-utc](https://user-images.githubusercontent.com/155358/45308051-84673900-b518-11e8-96d0-5ac89feffe26.png)

[2018-09-10 23:39] Drarok opened #49 "24-hour option incorrectly shows "AM" or "PM""
A 24h clock is designed to make morning/afternoon unambiguous, so "AM" or "PM" can (and _should_) be omitted.
![screen shot 2018-09-11 at 00 40 05](https://user-images.githubusercontent.com/55830/45330067-7981c800-b55b-11e8-8f80-2194b59d1337.png)

[2018-09-11 00:45] abhishekbanthia commented on #49
Fix incoming!

[2018-09-12 12:16] brycampbell opened #50 "Multi Monitor"
New version now has broken multi monitor support. Only appears on the 'main desktop'.

MacOS 10.12.6 (16G1510)

[2018-09-12 14:39] abhishekbanthia commented on #50
Can you send me a screenshot if possible? I use 2 monitors + my Macbook and I haven't seen any issues.

[2018-09-12 14:59] brycampbell commented on #50
Did you try on MacOS 10.12.6 (16G1510)

?

[2018-09-12 15:14] abhishekbanthia commented on #50
I haven't. I have two machines which are on 10.13 and 10.14. Can you tell me the following:

1. Which Clocker version are you on?
2. Are you mirroring your displays?

[2018-09-12 17:59] brycampbell commented on #50
No not mirroring the displays. Version 1.6.05 (57)

[2018-09-14 15:49] abhishekbanthia commented on #49
[Fixed in 1.6.05](https://itunes.apple.com/us/app/clocker-menubar-world-clock/id1056643111?mt=12). Reopen the issue if this is not fixed; thanks.

[2018-09-14 15:49] #49 closed

[2018-09-14 15:53] #50 closed

[2018-09-14 22:39] ryandesign opened #51 "Clocker steals focus from active window"
When I click the Clocker menu bar widget, it removes the focus of the active window. This is inconvenient when I am typing into a window but need to get information from Clocker to complete what I was typing, because then I have to remember to click back into my window to refocus it before continuing to type. I haven't encountered any other menu bar items that steal focus.

[2018-09-15 20:10] abhishekbanthia commented on #51
Clocker's menu bar widget resides in an [NSWindow](https://developer.apple.com/documentation/appkit/nswindow). When you click on the menubar item, Clocker's window becomes the key window thereby causing the previously active window to lose focus. As far as I've seen, other popover based menubar apps display the same behaviour.

[2018-09-17 11:06] tixastronauta opened #52 "AEGetDescData of non-desc type 'reco' not a good idea"
Since the last update I cannot open Clocker. All I see on console log is:

"AEGetDescData of non-desc type 'reco' not a good idea"

Any idea what is causing this?

I am on High Sierra 10.13.6.

Thank you for your amazing job!

[2018-09-18 16:04] abhishekbanthia commented on #52
Answered via email!

[2018-09-18 16:04] #52 closed

[2018-09-25 11:39] warapitiya opened #53 "Settings are not working in macOS Mojave"
Some of the settings are not working/apply in macOS Mojave.

- Dark theme

<img width="396" alt="screen shot 2018-09-25 at 7 37 50 pm" src="https://user-images.githubusercontent.com/6380518/46012091-9d681080-c0fa-11e8-9f54-22d2eee83794.png">
<img width="707" alt="screen shot 2018-09-25 at 7 38 07 pm" src="https://user-images.githubusercontent.com/6380518/46012097-a0fb9780-c0fa-11e8-9b96-866065a208

[2018-09-26 01:54] abhishekbanthia commented on #53
Apple just approved version 1.6.06. If you're on Mojave, it'll follow your system appearance for light/dark theme! Reopen this if you see any issues.

[2018-09-26 01:54] #53 closed

[2018-10-04 14:20] peterhartman opened #54 "Upcoming events no longer works in 1.6.06 and MacOS 10.13.6"
This is my favourite feature and I cannot get it to work after a recent update, I have tried resetting my calendar settings and re-linking it with clocker but no success.

[2018-11-13 09:55] samuelsuarezsanchez commented on #54
Same thing here. I have all calendars selected under _Show events from_ but the fly-out still shows _No upcoming events_.

[2018-12-12 10:44] #51 closed

[2018-12-12 10:45] #54 closed

[2018-12-14 12:37] rraallvv opened #55 "How can I activate 1.6.07 compact mode?"
No sure if this is an issue, but I upgraded to version 1.6.07 and can't find where the option to enable compact mode is in the settings. Is it enabled by default? Could you please share a screenshot showing how it's supposed to look compared to the non compact version? Thanks.

Keep up the good work.

[2018-12-14 20:41] abhishekbanthia commented on #55
You can find the option under Menubar Display Options. You'll need to favourite at least one timezone before you can access Menubar Display Options. Here's a screenshot:

<img width="707" alt="menubar modes" src="https://user-images.githubusercontent.com/8280282/50026372-54fc1880-ffae-11e8-9d64-a87bd7226a63.png">

[2018-12-14 20:42] abhishekbanthia commented on #55
This is how it looks with the standard mode:

<img width="512" alt="screen shot 2018-12-14 at 2 41 46 pm" src="https://user-images.githubusercontent.com/8280282/50026414-7eb53f80-ffae-11e8-9ba3-79d1bc07c8e2.png">

[2018-12-14 20:42] abhishekbanthia commented on #55
And this is how it looks with the compact mode:

<img width="281" alt="screen shot 2018-12-14 at 2 38 45 pm" src="https://user-images.githubusercontent.com/8280282/50026428-8aa10180-ffae-11e8-9332-6e64b986b4f4.png">

[2018-12-15 02:41] rraallvv commented on #55
Thanks, I just saw I need to favorite a timezone to enable the menubar display options. I totally misunderstood what it does, I thought enabling compact mode would make the pop-up menu occupy less real estate on the screen. Thanks for the clarification.

[2018-12-15 02:41] #55 closed

[2019-01-15 09:57] LordNacho commented on #41
@abhishekbanthia I have all these turned off, but CPU usage is still 40%

[2019-01-15 15:51] carlosrberto opened #56 "Clocker no more available in brew cask"
I got the following when trying to install using `brew cask`:

[code]

[2019-01-15 18:03] abhishekbanthia commented on #41
Hi @LordNacho, that's a lot. Can you help me with the following:

1. The number of timezones you have?
2. The number of timezones you're displaying in your menubar
2. Are you using the compact menubar mode?
3. If possible, can you attach a screenshot of your Appearance tab in Preferences.

Thanks

[2019-01-15 20:31] lukasolson opened #57 "Option to hide AM/PM"
Just discovered Clocker today and love it! It would be nice if there were an option to hide AM/PM, even when not using 24-hour times. It's not often I don't know if it's AM or PM :)

Main reason I'm requesting is that the Date & Time preferences in MacOS have this option and I've been using it for awhile, but since I don't need the system time in the menu bar any more, I'd like to keep the AM/PM h

[2019-01-15 21:43] LordNacho commented on #41
1. 7
2. 7
3. Yes
4.
<img width="595" alt="screenshot 2019-01-15 at 21 43 08" src="https://user-images.githubusercontent.com/1208668/51211828-931e8c00-190e-11e9-98cc-e83cdfa75534.png">

[2019-01-15 21:45] LordNacho commented on #41
Note I killed the app after this happened. Just put it back, but CPU is not back, it's more or less zero now.

[2019-01-28 20:12] LordNacho opened #58 "Local Timezone doesn't have sunrise/sunset time?"
Why is the timezone you're most likely to care about not displaying it?

<img width="347" alt="screenshot 2019-01-28 at 20 10 26" src="https://user-images.githubusercontent.com/1208668/51863437-ea722280-2338-11e9-9339-21cee8f16f0a.png">

[2019-01-28 23:42] n0shake commented on #58
Local timezones are timezones. To calculate sunrise and sunset times, Clocker requires a latitude/longitude which we can associate with a place but not a timezone.

A workaround would be to add your local city. Let me know if you have any questions.

[2019-01-28 23:42] #58 closed

[2019-01-29 07:37] LordNacho commented on #58
Ah, good point, thanks!

[2019-04-07 05:20] kevinflo opened #59 "Day of week display for Seoul is showing Monday when it should show Sunday"
Currently it's showing Monday for Seoul when it should be displaying Sunday
![Screen Shot 2019-04-07 at 12 16 54 AM](https://user-images.githubusercontent.com/661291/55679083-ac5e2580-58ca-11e9-94a8-c64a7474fadf.png)

Interesting though that it shows correctly in mmm/dd format

![Screen Shot 2019-04-07 at 12 19 07 AM](https://user-images.githubusercontent.com/661291/55679091-e5969580-58ca-11e9-97b

[2019-04-07 18:30] skys215 opened #60 "Time disappeared from task bar after upgraded to 1.6.08"
Hi,

I've upgrade to 1.6.08. And after upgrading, I've tried restarting the computer, but it never appears on the menu bar.
I'm using Sierra.

Any idea? Thank you

[2019-04-07 20:31] n0shake commented on #60
Apologies for the issue. Can try resetting your preferences and see if that helps. Here’s how you do that:

1. Make sure Clocker is closed (force quit through Activity Monitor if necessary)
2. Open up the Terminal app and type in the command: `defaults delete com.abhishek.Clocker`
3. Hit the return key
4. Restart Clocker

You’ll need to add your places/timezones again.

[2019-04-07 20:34] n0shake commented on #59
Hi @kevinflo, thanks for reporting this. I'm able to reproduce this quite easily.

I'll take a look soon.

[2019-04-07 20:37] n0shake commented on #41
Haven't had reports of high CPU usage in a while. If it's still happening, please feel free to reopen this :)

[2019-04-07 20:37] #41 closed

[2019-04-07 21:39] n0shake commented on #45
Anywhere on Earth coming soon!

<img width="396" alt="Screen Shot 2019-04-07 at 2 38 07 PM" src="https://user-images.githubusercontent.com/8280282/55690177-dfdc9680-5942-11e9-8712-95bf603e4301.png">

[2019-04-07 21:39] #45 closed

[2019-04-07 21:46] n0shake commented on #38
That's a great suggestion and sorry for getting back so late.

I've been thinking about this; while it's extremely useful, I haven't received any feedback from other users requesting something similar. I'll revisit this when there's more demand. Feel free to reopen if you'd like to add anything.

[2019-04-07 21:46] #38 closed

[2019-04-07 22:09] n0shake commented on #36
Hi @slippycheeze, thanks you for your feedback! I feel the new Compact Mode helps should address some issues you're seeing.

I dog-food Clocker a lot and prioritize features that suit my requirements (Sorry for being selfish). I interact with colleagues from a lot of different countries and there are some unique work-week challenges which makes knowing dates in other locations pretty useful for me

[2019-04-07 22:09] #36 closed

[2019-04-08 11:16] skys215 commented on #60
Yeah, the problem is solved. Thanks
Do you need any logs for debugging?

[2019-04-08 11:26] skys215 opened #61 "The clocker crashes after selecting Menubar Mode to Standard"
Hi,

I was trying every options in the clocker and when I choose `Standard` in the Menubar Mode on the `Menubar display options` of `Appearance` tab, the clocker crashes.

I'm wondering if this is related to the [previous issue](https://github.com/n0shake/Clocker/issues/60) which I posted recently.
Because I have noticed that `Compact` is selected in Menubar Mode. It shows different with previous

[2019-04-08 15:18] n0shake commented on #61
If I had to guess, the date calculations may have been going a little wonky for a particular location. Can you send me a screenshot of the timezones you've selected?

[2019-04-08 16:02] skys215 commented on #61
![image](https://user-images.githubusercontent.com/4977935/55738942-7d48d080-59fe-11e9-9933-1eeaee635192.png)
It's `深圳`, type`shenzhen` and the first result is it.

[2019-04-08 16:17] n0shake commented on #61
Perfect; thanks. quick follow up questions:

1. What's your locale?
2. What's your user preferred language?

[2019-04-08 17:41] skys215 commented on #61
1. I'm in Brazil right now.
2. I'm using Chinese.

[2019-04-09 03:20] n0shake commented on #59
The new App Store version landed. Please reopen the issue if you see it again.

[2019-04-09 03:20] #59 closed

[2019-04-09 04:10] n0shake commented on #61
I'm unable to reproduce this. Do you have any special date/formatting set in your System Pref?

<img width="780" alt="Screenshot 2019-04-08 at 21 10 18" src="https://user-images.githubusercontent.com/8280282/55772816-be62d400-5a42-11e9-8438-4f7e932b3142.png">

[2019-04-09 07:13] rhuanbarreto commented on #42
You can simply open a branch, delete all the contents and put the code there. Then we can have a look and make some fixes.

[2019-04-09 18:34] shlomi-nx commented on #56
I experience the same thing. How could clocker be installed not through the market place?

[2019-04-09 22:57] skys215 commented on #61
By the way, are there any way to get log of the clocker?
Maybe it'll be easier for you to debug the problem?

[2019-04-10 04:58] n0shake commented on #61
I have a crash reporting service hooked up which should send up any relevant logs. but yeah you cang go to Console and search for Clocker and see if anything comes up.

[2019-04-10 13:24] skys215 commented on #61
After set to `Standard Mode` it crashes with:
![image](https://user-images.githubusercontent.com/4977935/55882209-7e9f0800-5b7a-11e9-93a5-8b67d06fcf0b.png)

After restarting clocker after the crash, has 3 logs:
1.
![image](https://user-images.githubusercontent.com/4977935/55882286-a3937b00-5b7a-11e9-90ec-9f9c29482d58.png)
2.
![image](https://user-images.githubusercontent.com/4977935/55882302-aee6a

[2019-04-14 06:48] n0shake commented on #61
Following up; do you have the option "Show Next Meeting title in the menubar" enabled?

[2019-04-14 14:20] skys215 commented on #61
I didn't see that option.

[2019-04-16 21:18] MohamedBassem commented on #6
Came here to ask for the same feature :) Very useful when looking at logs from different timezones for example.

[2019-04-17 16:19] mcg opened #62 "Allow time input to match 12/24 hour setting"
Love being able to directly enter a time instead of just using the slider, tho I wish this was more easily accessible(#39), but this issue is not being able to enter 24 hour times. Only 12 hour times are supported. It would be great if the manual time entry field input reflected the 12/24 hour time preference.

[2019-04-30 07:03] n0shake commented on #42
Repo has been updated!

[2019-06-18 17:34] raisedadead opened #63 "Preferences/config file export/import for version control"
Hi thanks for the application.

It would be awesome if there was a way to simply export/import timezones from a file. I for one would like to be able to store such a file in version control or cloud drive.

This way, I am able to sync my settings and timezones across devices quickly. The addition of a dozen zones is bit of an annoyance, because of the way the dialog needs to be opened.

[2019-06-18 18:15] raisedadead opened #64 "Reduce the font size beyond the lowest setting"
Thanks for the app.

I have the fonts set at the lowest settings, can we go smaller than that. With a dozen zones, it becomes a bit overwhelming.

![image](https://user-images.githubusercontent.com/1884376/59708700-efba0600-9222-11e9-88ea-c068081c2591.png)

[2019-06-21 21:08] n0shake commented on #64
That's a pretty valid concern; thanks for bringing it up.

[2019-06-21 21:09] n0shake commented on #63
Alternatively, I was thinking about supporting iCloud sync (this way we won't need to pass around a configuration file 😄)

[2019-06-21 23:29] raisedadead commented on #63
Yeah, that would work perfectly for me.

Although I can imagine there could be use cases where cloud storage is not accessible (corporate firewalls, etc.).

[2019-07-18 06:25] nikolajskov opened #65 "Seconds cannot be hidden"
Just updated to version 1.6.10 (65) and then the seconds were showing for my clocks -- they weren't before. I went to the Appearance tap in Settings to hide them by toggling "Display the time in seconds"... but the setting doesn't do anything... the seconds are still showing in both main panel and menu bar.

[2019-07-18 06:27] chlab opened #66 ""Display time in seconds" setting no longer seems to work"
It seems that since the update to `1.6.10 (65)`, the setting "Display the time in seconds" no longer seems to work. I had it set to No but it's displaying the seconds anyway. I tried toggling it to Yes, then back to No but it shows the seconds anyway. I also tried restarting the app.

I am on Mojave 10.14.5.
Please let me know if I should supply any other information.

Thanks for the good work!

[2019-07-18 07:11] LordNacho commented on #66
Same problem here, it shows seconds regardless of what is selected.

[2019-07-18 07:46] MattIPv4 commented on #65
Can confirm, I am having the same issue.

Looks like #66 is a duplicate report of this also.

[2019-07-18 11:02] #66 closed

[2019-07-18 11:02] chlab commented on #65
Ah it looks like we created an issue at the same time. I also have the issue, I closed #66 because it's a duplicate.

[2019-07-18 14:16] eanderle commented on #65
Hey all, found a workaround: if you add new timezones, they will respect the seconds display setting. So re-add your existing timezones, and delete the previous ones.

Thank you @n0shake for such a wonderful tool! Hopefully we can get the issue resolved.

[2019-07-18 16:04] n0shake commented on #65
Yikes, can you see if toggling seconds from the overflow menu helps?
<img width="721" alt="Screen Shot 2019-07-18 at 9 04 03 AM" src="https://user-images.githubusercontent.com/8280282/61473340-127f2d80-a93b-11e9-8c80-4ca4c4460a5b.png">

[2019-07-18 16:06] MattIPv4 commented on #65
@n0shake Can confirm that works :)

[2019-07-18 19:25] incandescentman commented on #66
Temporary workaround: Toggle seconds from the overflow menu
<img alt="Screen Shot 2019-07-18 at 9 04 03 AM" width="721" src="https://user-images.githubusercontent.com/8280282/61473340-127f2d80-a93b-11e9-8c80-4ca4c4460a5b.png">

Source: https://github.com/n0shake/Clocker/issues/65

[2019-07-18 20:34] krc opened #67 "after update, 12/24 hour setting does not work"
It is stuck in 24 hour time no matter which way you flip the toggle. I actually want it in 24 hour time, but when I put the toggle to 24h, the time is cut off on the 4th displayed timezone, as if it runs under the next item in the menu bar. When I flip it to 12 hour, it stays in 24h format, but it is no longer cut off.

[2019-07-18 20:35] krc commented on #65
also having this issue, as well as the 12/24 hour issue I just opened.

[2019-07-18 21:04] KovalevArtem opened #68 "Localization"
I am saddened that the program is in English only.
I suggest to localize the program.
I am ready to assist in the translation into Russian.
(For example, you can use the service Crowdin or any other. Crowdin is free for Open source projects.)

[2019-07-18 21:19] n0shake commented on #67
As a temp workaround, can you override the timezone's date format by clicking the three dots:
<img width="658" alt="Screen Shot 2019-07-18 at 2 18 28 PM" src="https://user-images.githubusercontent.com/8280282/61492852-06a96080-a967-11e9-8dc7-7d6419b8521f.png">

[2019-07-18 21:20] n0shake commented on #68
Thanks for the feedback @KovalevArtem! I'm slowly moving towards migrating all hard-coded strings in Clocker from Interface Builder to code. This will make localization a breeze. Keep an eye out!

[2019-07-19 06:00] nikolajskov commented on #65
@n0shake From the overflow menu for my clocks I could see that "DISPLAY SECONDS" were all set to "Yes". Is that a new setting in this version? I have never used it; only the global setting. Anyways, setting it to "No" in the overflow menu hides the seconds for that clock. Also, setting it to "Global" then uses the global setting for that particular clock. The global setting controls the individual

[2019-07-19 07:11] chlab commented on #65
I can confirm the same behavior as @nikolajskov. So it seems the only bug is that the individual clocks suddenly had their _seconds_ setting set to yes, instead of global.

[2019-07-19 12:45] alexndreazevedo commented on #65
@n0shake Thanks for providing the information for it.

It seems that the only issue is usability. It may lead the user to mistakenly ignore that it includes global settings and settings per timezone.

Would be good to introduce an icon informing that there are these two settings. I'll create a PR for it.

[2019-07-21 03:39] lookfirst commented on #65
I just ran into this and yes, totally confused me. I 'get it' now, but I feel like this is over doing it on the UX complexity to be able to set showing seconds on a per item basis in the drop down.

I'd be happy with simplifying it to:

In the menubar, show/hide seconds.
In the drop down, show/hide seconds for all.

[2019-07-21 18:06] n0shake commented on #65
@lookfirst Fair point! There's an added layer of complexity added through the per timezone based customization options, but it serves and addresses an important use-case for many (including me). Since I deal with servers and sometimes require seconds-level precision, I can enable seconds for my UTC timezone (and not for the rest of the 6 timezones). This also reduces battery and CPU usage.

I'll t

[2019-07-21 21:14] MattIPv4 commented on #65
@n0shake If you're aiming for that level of customisability, could I suggest you do the same with date/day settings? I'd like to display seconds, day & date for my local TZ but only hour/min for remote TZs?

[2019-07-24 04:31] lookfirst commented on #65
@n0shake Latest update just applied and reset all my seconds settings. Heh. =)

[2019-07-25 00:48] n0shake commented on #65
Anybody else seeing this issue in 1.6.12? If not, I'll go ahead and close it :)

[2019-07-26 14:20] #65 closed

[2019-07-26 14:20] #60 closed

[2019-07-31 20:33] tymofij opened #69 "Use as a widget in Notification Center"
Thank you very much for this little super-useful application!

It would be great to be able to put Clocker UI in Notification Center - that side panel sliding out when one clicks in top-right display corner.

[2019-08-30 00:02] danielcompton opened #70 "Labels lost in menubar when switching between dark mode and light mode"
My Clocker menubar app normally looks like this:

<img width="150" alt="Screenshot of Clocker (30-08-19, 12-00-37 PM)" src="https://user-images.githubusercontent.com/811954/63984096-c8828d80-cb1d-11e9-9535-2aa933cd0ed3.png">

When switching between Dark and Light mode, I lose the labels on my timezones:

<img width="162" alt="Screenshot of Safari (30-08-19, 12-01-19 PM)" src="https://user-images.g

[2019-08-30 05:35] n0shake commented on #70
Yikes, thanks for reporting

[2019-08-31 18:47] n0shake commented on #70
Fixed via 7284ff54a4beeee702c31619dfa6cf77b88b18cc. I'll keep this open until this goes out.

[2019-09-04 03:53] #70 closed

[2019-09-06 11:08] danielcompton commented on #70
Thanks!

[2019-09-06 16:01] n0shake commented on #67
This should be fixed in the last version. Please re-open if you still see this popping up.

[2019-09-06 16:01] #67 closed

[2019-09-21 20:26] seafre opened #71 "Add "System/Current/Local" to Timezone list for travellers"
Add "System/Current/Local" to Timezone list.

This is particularly useful for travellers where Clocker can be set the the current system time, driven by macOS system time changing timezone based on new geolocation.

This resolves the issue of having to manually change the Clocker "Favourite" timezone when using Clocker as a direct replacement for the standard macOS time in the menu bar.

Great pro

[2019-09-22 00:21] n0shake commented on #71
Clocker already supports this with "home row". If your system timezone changes, Clocker listens to it and auto-updates the home row. The home row is signified by a "pin" icon next to it (see attached screenshot). Detecting timezone changes is not as granular as detecting location changes but has several micro-benefits in that Clocker doesn't get access to your location data and is not computationa

[2019-09-22 00:21] #71 closed

[2019-09-22 00:23] n0shake commented on #69
Thanks for the feedback! I imagine this would lead to a less cluttered menubar. What other benefits would this bring?

[2019-09-22 18:28] n0shake commented on #68
@KovalevArtem the project is up on Crowdin. If you'd like to help translate, here's the invite link: https://crwd.in/clocker

[2019-09-22 18:28] #68 closed

[2019-09-25 02:05] zhiyongwu opened #72 "Can't open this app"
Nothing happens after I click the Clocker icon.
Current version is 1.6.16 from mac app store.
Mac os version is macos mojave 10.14.6

[2019-09-25 18:25] n0shake commented on #72
Yikes, that's bad. I'm waiting for my crash logs to come back. In the meanwhile, resetting your preferences should help you *atleast* launch the app. Sorry for the inconvenience.

1. Make sure Clocker is closed (force quit through Activity Monitor if necessary)
2. Open up the Terminal app and type in the command: `defaults delete com.abhishek.Clocker`
3. Hit the return key
4. Restart Clocker

[2019-09-26 00:06] zhiyongwu commented on #72
This app works after I type the command and click the icon.
But when I change Menubar Mode from Compact to Standard in Preference > Appearance > Menubar Display Options, it crash and I can't launch it anymore. When I repeat this it happens again.

[2019-09-26 00:17] n0shake commented on #72
Thanks for the repro steps. Can you share the following to help me debug:
- List of timezones you've added
- Are you using any other language than English?

[2019-09-26 00:20] zhiyongwu commented on #72
-  I only add one timezone.It is Asia/Shanghai.

- Yes my system language is Chinese.

[2019-09-26 00:23] zhiyongwu commented on #72
Is there any crash log in my computer.Maybe I can paste it here.

[2019-09-26 18:26] n0shake commented on #72
Thanks but I've got the crash logs from my crash reporting service.

This is because of a silly index out of bounds crash that might occur for users whose preferred first language is not English. I've fixed it via c0caf1ee8681282f024b92981d1fb3a136fc8d64. I'll test more and release this version over the weekend. In the meanwhile, I'll suggest to turn the **Include Days** option in menubar preferen

[2019-09-27 10:05] seafre commented on #71
My request was referring to the macOS Menu Bar time from Clocker should be able to automatically reflect the current timezone, based upon the local system time (which the app is using for all other calculations anyway).

<img width="285" alt="image" src="https://user-images.githubusercontent.com/1815807/65761304-70d44380-e116-11e9-9042-3bf9a73bc860.png">

In addition, the feature you describe is n

[2019-09-27 15:17] n0shake commented on #71
The "home" row is added when you do a fresh install the app. If you've deleted it, you need to either reset your preferences or do a fresh install.

[2019-09-27 15:54] seafre commented on #71
OK so the issue to raise should be the following?

**Add "Home row" aka. Local Timezone as selection option in Timezones list**

[2019-09-27 16:35] seafre commented on #71
In addition, the Home row (which has changed time in macOS menu bar but not the name) stays static based upon the original installation when sorting the list by time:

![image](https://user-images.githubusercontent.com/1815807/65785851-f22dd500-e11a-11e9-91b3-cb3de2539ddd.png)

[2019-09-30 04:09] n0shake commented on #72
This crash should be fixed in v1.6.17 which is available on the App Store now.

[2019-09-30 04:09] #72 closed

[2019-09-30 04:14] n0shake commented on #71
v1.6.17 fixes the issue where the name doesn't change upon the timezone switch. I'll look into the sorting issue for next release. Thanks for the feedback!

[2019-10-02 07:04] mbigras opened #73 "Can you package this application as a Homebrew Cask?"
I would love to install this application! I searched Homebrew Cask and it looks like it used to be packed but is no longer

[code]

Can you package it as a cask? It's so much easier to automate installation without needing to fuss with the App Store.

[2019-10-22 00:08] EdZava opened #74 "incorrect schedule in the reference schedule of brazil 2019"
In Brazil in 2019, summer time no longer exists.
I fixed the schedule on the Mac manually, but in the App continues to miscalculate the schedule of Barcelona and other countries.

Incorrect
![image](https://user-images.githubusercontent.com/1155199/67251846-d16d4c80-f446-11e9-9dcb-3166f561cb22.png)

Correct
![image](https://user-images.githubusercontent.com/1155199/67251863-e053ff00-f446-11e9-8a50

[2019-10-29 22:00] EdZava commented on #74
@n0shake
some information ?
How does the app calculate the time difference of different time zones?

[2019-10-29 22:29] n0shake commented on #74
Looks like a Daylights Saving time miscalculation. A quick workaround would be to add the `Central European Summer Time` timezone. I'll take a look soon.

The time difference between local time and a timezone's time is calculated [here](https://github.com/n0shake/Clocker/blob/0c2ed72decce4e4100d235bb7d0d98827940d9c2/Clocker/Panel/Data%20Layer/TimezoneDataOperations.swift#L210).

[2019-11-12 12:23] EdZava commented on #74
@n0shake Try adding the "_Central European Summer Time_" time zone but you can't find it.

If it is a mistake for summer time. This is because in Brazil in 2019 summer time ceased to exist. Many systems are going through similar problems.

Look at the code in the section that you comment, but my knowledge of swift are very basic to help where the problem could be.

But it seems to me that it is be

[2019-11-22 16:22] rootux commented on #8
I still got this issue on the latest clocker

[2019-11-28 14:26] EdZava commented on #74
do you plan to fix?
This error generates many problems for not knowing the correct schedule.

Please if you can check it. 🙏🏻🙏🏻🙏🏻

[2020-01-13 11:28] EdZava commented on #74
Updated macOS for Catalina and now everything works correctly because the OS already takes into account the Brazilian time change.

[2020-01-20 21:33] #74 closed

[2020-01-29 18:26] NathanUrwin commented on #73
Duplicate of #56

[2020-01-29 18:27] NathanUrwin commented on #56
Hey @n0shake 👋

Fantastic project you have here! Is there a reason you dropped brew cask support? And is there anyway we could add it back?

Thanks for your hard work on this project so far!

[2020-01-29 18:34] n0shake commented on #56
Sorry for catching up late on this thread. The support isn't officially dropped, it's just not maintained. Very few users actually download the app using `brew cask`; so I decided to invest my time elsewhere. I'll try and see if this step can be automated.

[2020-01-29 18:40] NathanUrwin commented on #56
Thanks for the quick response! :smile:

Oh I see that makes sense. Yes, please do! I would be happy to help as well, so please just let me know if I can do anything.

Going to reiterate the EDIT from my last comment here in case you missed it: Is there a reason you stopped making GitHub releases for App Store updates as well?

Thanks for your time!

[2020-03-27 13:50] rayabhi24 opened #75 "Add EPOCH Time below the time and provide copy option"
Providing EPOCH time and copy option to that would be best and useful thing for programmer.
As well as if epoch converter is provided in display pan with default UTC and with first favourite time zone is great help at time of code development/debugging.

[2020-05-24 12:53] Trevor- opened #76 "Add missing release files."
The release files are missing, please can you add them.
Thanks.

[2020-05-25 05:17] n0shake commented on #76
Which release files?

[2020-05-25 05:18] #76 closed

[2020-05-25 06:46] Trevor- commented on #76
For example, https://github.com/n0shake/Clocker/blob/master/Clocker/Releases/appcast.xml line 13 refers to https://github.com/abhishekbanthia/Clocker/releases/download/v1.5.1/Clocker.zip
This was a release version that could be unzipped and placed in the applications folder.
If you could put the latest version of Clocker in there it would be very helpful.
I don't have access to the app store and a

[2020-06-18 13:25] TheGamer007 commented on #56
+1 would it be possible to get a Github zip release for the current version? I can't use the App Store to download the app since it is a work device and the latest release on Github (v1.5.1) is from 2017. Thank you!

[2020-06-18 16:45] n0shake commented on #56
I'm sorry this isn't high-pri for me as very few users actually download the app from GitHub releases. Plus, there's app notarization to take care of (ugh). I'm happy to guide if someone wants to take a stab :)

[2020-08-13 09:02] razbensimon opened #77 "Cant find Tel Aviv / Israel time zone"
Cant find any Tel Aviv / Israel's time zone

![image](https://user-images.githubusercontent.com/5955905/90115462-a9d3d180-dd43-11ea-9810-d2943c35d9e3.png)

[2020-11-13 13:55] abdonrd opened #78 "White color in macOS Big Sur"
Should be black as others:

<img width="313" alt="Screenshot 2020-11-13 at 14 54 33" src="https://user-images.githubusercontent.com/1007051/99079398-2e8eef80-25c0-11eb-95fe-82a3c2563cfc.png">

[2020-11-13 19:59] n0shake commented on #78
I'll be pushing the Big Sur update pretty soon which should fix this! Hang tight.

[2020-11-15 18:50] n0shake commented on #78
Fixed in v20.10.03!

[2020-11-15 18:50] #78 closed

[2020-11-19 18:21] luanafaustini commented on #56
Hey @n0shake I saw Clocker at my collegues screen and went immediatly ask where could I find it to use as well.
Unfortunately I also can't download from Apple Store. Could you kindly share a .dmg?

[2020-11-19 18:26] luanafaustini commented on #56
~ I imagine that is a huge work to update in each plataform, but I wanted so bad ~

Maybe someone knows another tool to point it out for me?

[2020-11-26 15:49] gabiudrescu opened #79 "Failed to start the app"
# Steps to reproduce:

1. search the application name on Google
2. reach Apple Store web page
3. click install
4. open the native app
5. install Clocker
6.  open Launchpad
7.  search for Clocker
8. click the icon
![image](https://user-images.githubusercontent.com/5156054/100370847-95c09100-300f-11eb-8304-95d9d48f6cb6.png)

# What happens:
you receive the error below
![image](https://user-images.gi

[2020-11-27 15:03] luanafaustini commented on #56
[Clocker.zip](https://github.com/n0shake/Clocker/files/5608415/Clocker.zip)

My friend sent me the app. Sharing here for who has problems with app store. hope that's ok!

[2020-11-29 18:00] n0shake commented on #79
Unable to repro it on my end on BigSur. Are you able to open it by navigating to Applications and double-tapping the icon?

[2020-11-29 18:02] n0shake commented on #77
This should be fixed! Can you update to the latest version and verify? Marking this as resolved but feel free to re-open if this isn't fixed.

<img width="745" alt="Screen Shot 2020-11-29 at 12 00 21 PM" src="https://user-images.githubusercontent.com/8280282/100549774-9c7f1c00-323a-11eb-87aa-e60497a30975.png">
<img width="745" alt="Screen Shot 2020-11-29 at 12 00 28 PM" src="https://user-images.gi

[2020-11-29 18:02] #77 closed

[2020-11-30 04:33] n0shake commented on #56
@NathanUrwin  @luanafaustini Got some time over the weekend and I've added the latest release on GitHub:

https://github.com/n0shake/Clocker/releases/tag/20.10.03

[2020-11-30 14:34] Trevor- commented on #64
I also find the smallest font size too big.
P.s. thanks for the latest release zip.

[2020-11-30 17:30] n0shake commented on #61
@skys215 I've added extra logging which should help us debug crashes like this. Marking this closed for now but let me know if you still see issues.

[2020-11-30 17:30] #61 closed

[2020-12-07 00:45] n0shake commented on #73
Closing and let's continue related discussion in #56.

[2020-12-07 00:45] #73 closed

[2020-12-07 03:05] n0shake commented on #56
Clocker is now available in `brew cask`. [Link](https://github.com/Homebrew/homebrew-cask/blob/master/Casks/clocker.rb) for the curious.

[2020-12-07 03:05] #56 closed

[2020-12-08 15:31] carlosrberto commented on #56
Thanks!

[2021-01-18 16:55] philippMB opened #81 "Timezone ahead/behind not displayed correctly [GER]"
It is not displayed correctly if a timezone is ahead or behind in German. Because this does not seem to be part of the Localization strings, I open this issue here.
![Bildschirmfoto 2021-01-18 um 17 45 38](https://user-images.githubusercontent.com/24268096/104942677-0bfcc680-59b5-11eb-9cbc-3108ff24f5aa.png)
It always says "Vor X Stunden", which means it was this time X hours earlier. At the same t

[2021-01-18 17:12] n0shake commented on #81
@philippMB can you tell me which Clocker version you're on?

[2021-01-18 17:14] philippMB commented on #81
@n0shake my version is 20.10.03. Just downloaded from the AppStore

[2021-01-30 19:26] #79 closed

[2021-01-30 19:47] n0shake commented on #81
Should be resolved through f343c9eb55b6ba5b98a41c2b6d4012c0db14b256. I'll keep the issue open until the fix is pushed to the App Store.

[2021-01-31 00:38] #81 closed

[2021-01-31 00:40] n0shake commented on #57
Better late than ever. This should be available now.

<img width="321" alt="Screen Shot 2021-01-30 at 06 39 34 PM" src="https://user-images.githubusercontent.com/8280282/106371487-9389f400-632a-11eb-91c6-a972278695db.png">

[2021-01-31 00:40] #57 closed

[2021-02-01 19:26] AutonomousEngineer opened #82 "Time format does not change menubar display from 24-hr time"
Updated to 20.10.04 (88) via App Store on macOS 10.15.7. Time format selected never changes the time format displayed. I am stuck with 24-hr time when trying to set 12-hr w/ AM/PM display.

![Screen Shot 2021-02-01 at 2 24 08 PM](https://user-images.githubusercontent.com/3311455/106507630-52fcb880-6499-11eb-8f12-7620d37dcf9e.png)

[2021-02-01 19:41] n0shake commented on #82
The issue is the timezone format might be overridden at the local/timezone level which means the preference you set in Preferences doesn't get respected.

I'll push out a fix by EOD.

[2021-02-02 08:20] dooreelko opened #83 "Time not updating"
Now i need to click on it for the actualt time to update O_O

![2021-02-02_09-13-30 (1)](https://user-images.githubusercontent.com/1577820/106589546-687eea80-654c-11eb-8248-85baa474d652.gif)

(also i suspect i had the seconds display but now it's gone?)

[2021-02-02 10:30] dooreelko opened #84 "Starts but nothing in the menubar"
In case this is relevant, this is the only output in the termnial:

2021-02-02 11:27:39.060 Clocker[30729:103896] *** -[NSKeyedUnarchiver decodeObjectForKey:]: cannot decode object of class (Clocker.TimezoneData) for key (root) because no class named "Clocker.TimezoneData" was found; the class needs to be defined in source code or linked in from a library (ensure the class is part of the correct t

[2021-02-02 11:29] dooreelko commented on #84
I suspect i fixed the store contents with this, but since it doesn't happen anymore ¯\_(ツ)_/¯

[code]

[2021-02-02 12:50] nathanurwinpgs commented on #84
Same thing happening to me:

[code]

[2021-02-02 15:27] lsloan commented on #84
I don't have any log info to support it like the others above, but after I let Clocker get an update from the Mac App Store, it would no longer work.

I ended up going to a terminal to kill the current process, deleting the app, then downloading Clocker.app.zip from the [Releases](https://github.com/n0shake/Clocker/releases) section of this repo.  Now it works, but it looks like some of my setting

[2021-02-02 16:08] n0shake commented on #82
Fixed in v21.02.02.

[2021-02-02 16:08] #82 closed

[2021-02-02 16:10] n0shake commented on #84
Looking!!

[2021-02-02 16:10] n0shake commented on #83
Fixed in v21.02.02.

[2021-02-02 16:10] #83 closed

[2021-02-02 16:18] n0shake commented on #84
Alright, found the issue. This should only happen to users who jumped directly from v20.10.03 -> v21.02.02 and missed the versions in between. I'll have the fix pushed to App Store soon.

[2021-02-02 16:49] security-prince commented on #84
I am still facing this issue on 21.02.02 on MAC OS 10.15.7, I tried force quitting and restarting but won't work

[2021-02-02 16:52] n0shake commented on #84
@security-prince The update hasn't been pushed to the App Store. Once it is, you can update which should resolve the issue. I'll keep posting updates here. In the meanwhile, here's a hacky workaround:

1. Make sure Clocker is closed (force quit through Activity Monitor if necessary)
2. Open up the Terminal app and type in the command: `defaults delete com.abhishek.Clocker`
3. Hit the return key
4.

[2021-02-02 16:53] security-prince commented on #84
Thanks, will try this

[2021-02-02 19:14] thezoggy opened #85 "-- 12 Hour w/o AM/PM -- time format incorrect"
Clocker version: 21.02.02 (91)

Few formats do not align with reality, the bottom -- 12 Hour w/o AM/PM -- times formats are both incorrect

time format: `hh:mm (07:08)` results in hh:mm:ss
time format: `hh:mm:ss (07:08:09)` results in h:mm a

[2021-02-02 19:20] thezoggy opened #86 "Quick Add Locations - unable to add utc"
Clocker version: 21.02.02 (91)

On first run, the quick add locations does not allow you to add the same locations that the add allows once you run the app.

* Not clear that the app adds your current timezone by default (as I added my local city to find it ends up being a duplicate)
* Unable to add UTC/GMT during setup

[2021-02-02 19:22] thezoggy opened #87 "Preferences > Appearance > Misc > Menubar Options - not initialize correctly"
Clocker version: 21.02.02 (91)

Preferences > Appearance > Misc > Menubar Options

The include date/day/etc default to Yes but actually do not.
You have to click on No then Yes for the option to make the menubar update.

[2021-02-02 21:34] n0shake commented on #86
Great feedback!! I'll address this soon :)

[2021-02-03 02:17] n0shake commented on #84
The update has been approved and pushed to the App Store. Closing!

[2021-02-03 02:17] #84 closed

[2021-02-03 02:18] n0shake commented on #85
@thezoggy are you setting the timezone formats at the individual timezone level or in the Preferences?

[2021-02-03 02:27] thezoggy commented on #85
Preferences

[2021-02-03 02:30] n0shake commented on #85
@thezoggy what's the format selection at the individual timezone level?

<img width="688" alt="Screen Shot 2021-02-02 at 8 28 44 PM" src="https://user-images.githubusercontent.com/8280282/106689347-76a52900-6595-11eb-9aba-afa41cffa1d3.png">

[2021-02-03 02:42] thezoggy commented on #85
never knew you could customize at the timezone specific.  this should show you everything you want:
<img width="712" alt="Screen Shot 2021-02-02 at 8 41 19 PM" src="https://user-images.githubusercontent.com/500882/106690229-0f887400-6597-11eb-800d-c9a3364b10ea.png">

[2021-02-03 03:58] n0shake commented on #85
This should be fixed through 64ce22e4456e4acc0cae40715a25bd1e297085c5.

[2021-02-03 03:58] #85 closed

[2021-02-03 04:39] n0shake commented on #87
Fixed through 2947588f29b6bd93e56b632489147111c44a1c59.

[2021-02-03 04:39] #87 closed

[2021-02-03 19:16] Drarok commented on #84
FYI, my time format setting got hosed somewhere amongst all this, I had to re-select `HH:mm` instead of `h:mm a` which appears to be the default.

[2021-02-03 22:00] AutonomousEngineer opened #88 "Sunrise/Sunset time format does not match selected time format in Preferences > Appearance"
The time format used for the Sunrise/Sunset of a location does not match the selected format in Preferences > Appearance.

![image](https://user-images.githubusercontent.com/3311455/106815039-4adf7d00-6641-11eb-946d-032d0deded5c.png)

Clocker 21.02.03 (92)

[2021-02-07 00:01] n0shake commented on #86
Addressed through 12d7684ec925f4269e3c7515e2af1f176092b747.

[2021-02-07 04:34] n0shake commented on #86
Fixed through 54a55c15d48193840a6bf9ada880adb512fce65c.

[2021-02-07 04:34] #86 closed

[2021-02-07 04:39] n0shake commented on #88
Fixed through my last commit. Attaching screenshot for ref:

<img width="396" alt="Screen Shot 2021-02-06 at 10 38 00 PM" src="https://user-images.githubusercontent.com/8280282/107136830-2ba85000-68cc-11eb-995c-bcedd5bbf835.png">

[2021-02-07 04:39] #88 closed

[2021-02-10 14:03] Trevor- opened #89 "Clocker.app.zip not opening."
The Clocker.app.zip from the release page https://github.com/n0shake/Clocker/releases/tag/v21.03.01 does not open.
After unzipping I get _The application "Clocker" can't be opened_. Right-clicking on then clicking on open doesn't help.
<img width="420" alt="2021-02-10_15-47-30" src="https://user-images.githubusercontent.com/7702473/107518825-24c55a00-6bb8-11eb-878d-42aaa2db0dda.png">
I'm Using Cat

[2021-02-11 15:13] neilmartin83 commented on #89
I am seeing an issue with the app's code signature failing, it looks like the app bundle may have been modified after signing:

![image](https://user-images.githubusercontent.com/10920581/107656070-afbb5880-6c7b-11eb-886d-2aa3c72d9541.png)

[2021-02-15 09:09] Drarok opened #90 "Date/time format doesn't match system"
Clocker on the left, system clock on the right, note the "15" is in a different place:
![Screenshot 2021-02-15 at 09 07 39](https://user-images.githubusercontent.com/55830/107926345-7fbad080-6f6d-11eb-852a-29a81f7418e4.png)

[2021-02-15 23:35] n0shake commented on #90
@Drarok Do you happen how to retrieve the date format set in the system menubar? Looking at docs and at this [Apple Support page](https://support.apple.com/guide/mac-help/change-dates-times-display-mac-mh27073/mac#:~:text=Tip%3A%20If%20you%20just%20want,the%20Menu%20Bar%20Clock%20pane) isn't much help :/

[2021-02-23 05:52] m1keil commented on #6
+1 for this.

Hopefully one day.

[2021-02-26 00:17] weiweihuanghuang opened #91 "Build Instructions"
I'd like to change the font in the app but don't have much experience building Swift apps, whats the procedure for Clocker?

[2021-02-26 16:44] n0shake commented on #91
- Download the latest Xcode from developer.apple.com
- Fork/clone/download this repo
- You're most likely will run into certificate issues, so I'd suggest turning them off. Here's a [SO link](https://stackoverflow.com/questions/31039513/how-can-i-skip-code-signing-for-development-builds-in-xcode) that explains how you can achieve that.
- Profit?

Let me know if you run into any issues!

[2021-02-26 16:44] #91 closed

[2021-02-26 19:20] n0shake commented on #90
Closing as I'm not aware of any way Clocker can derive the time format set in the system clock.

[2021-02-26 19:20] #90 closed

[2021-02-26 20:48] Drarok commented on #90
I think it's just the locale default? This shows my (`en_GB`) locale correctly. Not sure why the US one has a comma, though?!

[code]

[2021-02-26 21:34] n0shake commented on #90
You can override the timezone format for the system menubar using Preferences. I don't see that's respected if we derive the time using locale and time-style.

<img width="780" alt="Screen Shot 2021-02-26 at 3 33 24 PM" src="https://user-images.githubusercontent.com/8280282/109357581-0f069480-7848-11eb-8b91-d64cc0705285.png">

[2021-03-16 18:27] Daz-wallace commented on #89
Hi folks,

Did you have any luck on this one?

[2021-03-16 18:55] beret commented on #89
I can still reproduce it when extracting via Archive Utility or Keka under Big Sur, but the Mac App Store works fine to install it.

[2021-04-08 14:15] neilmartin83 commented on #89
Hi folks,

Did you have any luck on this one?

[2021-04-09 09:08] Trevor- commented on #89
Nope

[2021-06-07 06:52] jklmli opened #93 "Shortcut doesn't work when menubar entry is hidden"
I use [Bartender](https://www.macbartender.com/) to manage the gazillion apps I own.  It has the ability to hide icons by default.

With Clocker, I find it to be extremely useful but only on demand via a keyboard shortcut.  (I don't need to see timezones all the time.)  Bizarrely enough, the shortcut doesn't activate unless the icon is visible.  I haven't had this issue with other apps such as Fan

[2021-06-08 13:34] OkBeacon opened #94 "Clocker installed using HomeBrew is not opening"
I am seeing the following error after installing Clocker using brew:
```The application “Clocker” can’t be opened.```

Similar to #89

[2021-06-08 13:35] OkBeacon opened #95 "Clocker installed using HomeBrew is not opening"
I am seeing the following error after installing Clocker using brew:
```The application “Clocker” can’t be opened.```

[2021-06-08 13:36] OkBeacon commented on #95
duplicate

[2021-06-08 13:36] #95 closed

[2021-06-08 13:37] OkBeacon commented on #89
I am getting same error when installed using HomeBrew

[2021-06-26 14:27] vizcay commented on #89
Same problem here on MacOS Mojave.

[2021-06-26 17:32] vizcay commented on #89
Custom building instructions on the README will be great also!

[2021-06-27 20:57] n0shake commented on #89
Just uploaded a new release (v21.07.01). I've personally tried downloading the release and making sure things work fine. @Trevor- can you try and let me know if it works?

[2021-06-27 21:00] n0shake commented on #46
Better late than never. The new [release](https://github.com/n0shake/Clocker/releases) supports snapping to 15, 30, 45, 60 minute intervals!

Let me know if you see any issues or have any feedback! :)

[2021-06-27 21:00] #46 closed

[2021-06-27 21:01] n0shake commented on #43
5. should be addressed by the new release. Closing!

[2021-06-27 21:01] #43 closed

[2021-06-27 21:11] Trevor- commented on #89
Thanks, @n0shake ,
Much appreciated. It is loading now but there's an issue with the time slider.
![image](https://user-images.githubusercontent.com/7702473/123559481-e87c4a00-d7a4-11eb-81d5-608599e0f9a3.png)
The button doesn't do anything.
In the old version, I have
![image](https://user-images.githubusercontent.com/7702473/123559500-06e24580-d7a5-11eb-9bbf-5209f1433fe7.png)
which is incredibly u

[2021-06-27 21:15] n0shake commented on #89
Appreciate the feedback!

That's because it's not a button. The scroll view will slide backwards and forwards with your trackpad or mouse. If you don't like the new scroller, you can revert to the old slider by selecting the **Legacy** option next to the "Show Future Slider" label in Preferences (attached image).

<img width="801" alt="Screen Shot 2021-06-27 at 4 14 23 PM" src="https://user-images

[2021-06-27 21:23] Trevor- commented on #89
Well, that helps a lot!
I do like the legacy slider and that is working well.
The new one is not working, i.e. not tracking my mouse or anything. It doesn't bother me but if you are available now I'd be happy if you wanted to do a quick zoom or anydesk session to see what I mean.
I will only be available for the next 10 minutes.
You can mail me if you want _contact at creative-scripts dot com_

[2021-06-27 21:39] n0shake commented on #89
Closing this because the original issue (file not opening) has been resolved!

[2021-06-27 21:39] #89 closed

[2021-07-03 00:19] n0shake commented on #75
Support for both features should be available in the latest release (v21.07.01). This release will be rolled out slowly over the course of the next week. Check out this thread for demos: https://twitter.com/clocker_support/status/1411116386332598277

[2021-07-03 00:19] #75 closed

[2021-07-05 21:03] n0shake commented on #94
Addressing through https://github.com/Homebrew/homebrew-cask/pull/108136.

[2021-07-05 23:37] #94 closed

[2021-07-06 15:25] ricardoalcocer opened #97 "Odd behavior with latest v21.07.01"
For some very odd reason I can't understand, clicking on Clocker on the menu bar opens Zoom on my upcoming meeting.

Does this make any sense to you?

[2021-07-06 15:27] ricardoalcocer commented on #97
Downgraded to v20.10.04 and works fine.

Let me know if I can assist on tracking this down.

[2021-07-06 18:26] n0shake commented on #97
Thanks for reporting! I just received another report regarding this, and have paused the rollout of the latest version.

Investigating!

[2021-07-06 21:41] n0shake commented on #97
This should be fixed via c48ef18e99df0174fa970818677f87b4eb2eb5cf. I'll be posting a new release soon!

[2021-07-06 21:41] #97 closed

[2021-07-07 16:08] n0shake commented on #97
The new update was just approved by Apple and will be rolled out in a phased release over the next week. I've also added it under GitHub Releases.

[2021-07-08 14:26] ricardoalcocer commented on #97
Thank you, @n0shake.  It's fixed now! 🎉

[2021-07-16 05:07] jklmli commented on #93
Bumping this up in case it slipped through :)

[2021-07-22 08:03] AlsoScratch opened #99 "[CRITICAL] Settings button is gone"
This is an extremely serious issue that I am facing where I have been unable to find the settings button since the latest update. If the button is still present, then it has probably gone past the bottom of my screen.

[2021-07-22 13:07] n0shake commented on #99
Few questions:

- Can you send me a screenshot?
- Are you on 11" / 13" MacBook by any chance?

In the meanwhile, you can use keyboard shortcuts to open Preferences (Command + ,) or quitting (CMD + Q).

[2021-07-22 17:48] AlsoScratch commented on #99
Mine is a 15 inch.

[2021-07-22 17:53] AlsoScratch commented on #99
<img width="1440" alt="Untitled" src="https://user-images.githubusercontent.com/48752273/126685804-2357d091-0656-42af-a0b6-d2c64a079697.png">

[2021-07-22 18:06] n0shake commented on #99
@AlsoScratch Which one are you trying?

[2021-07-22 18:10] AlsoScratch commented on #99
CMD + comma

[2021-07-22 18:11] AlsoScratch commented on #99
Oh wait, it worked now.

[2021-07-22 18:16] AlsoScratch opened #100 "System appearance doesn't work"
Choosing system appearance makes it appear in Light mode no matter what, even if my system is in dark mode.

[2021-07-23 14:35] n0shake commented on #99
Fixed with b26d9bd6c52fb3dcffab7fe02cd67f78f212a6a5.

[2021-07-23 14:35] #99 closed

[2021-07-23 14:36] n0shake commented on #100
@AlsoScratch what happens when you quit and restart the app?

[2021-11-22 02:06] tinybot-ca opened #102 "Spacing between world clocks in menubar gets too tight in Monterey"
It seems that the behavior of how macOS Monterey handles spacing between items in the menubar has changed.

The result is that sometimes, when the time/date changes, it can cause the spacing between multiple clocks (if you have more than one enabled) to become too compressed or tight.

Clicking on any of the world clocks in the menubar currently forces an update that fixes the spacing issue. But i

[2021-11-23 13:25] n0shake commented on #102
Thanks @tinybot-ca for reporting; looking forward to the screen-shots!

[2021-11-23 14:03] tinybot-ca commented on #102
Thanks for the reminder - I managed to capture these just now - in this particular case, the spacing goes from "wide" to "normal". It's not that bad. But sometimes, it can go from really "narrow" to "normal" (I'll capture and post). To trigger the transition, I am just clicking on any of the clocks, and it auto-refreshes the menubar.

<img width="628" alt="Screen Shot 2021-11-23 at 8 26 24 AM" src

[2021-11-23 23:02] tinybot-ca commented on #102
Another example, from "narrow" to "normal" (very subtle and minor in this case, but sometimes it's more severe).

<img width="628" alt="Screen Shot 2021-11-23 at 5 58 49 PM" src="https://user-images.githubusercontent.com/6947896/143142355-6479ee2a-a221-4b5b-bc1a-65d0a758fd73.png">

<img width="628" alt="Screen Shot 2021-11-23 at 5 59 00 PM" src="https://user-images.githubusercontent.com/6947896/14

[2021-11-24 06:09] tinybot-ca commented on #102
One more example:

<img width="626" alt="Screen Shot 2021-11-24 at 1 07 48 AM" src="https://user-images.githubusercontent.com/6947896/143184172-f0f2639f-b77f-4a78-8441-20f80c2de860.png">

<img width="626" alt="Screen Shot 2021-11-24 at 1 08 03 AM" src="https://user-images.githubusercontent.com/6947896/143184183-37240629-92bf-477f-ae46-73e2f23c5044.png">

[2021-11-25 00:14] tinybot-ca commented on #102
One more example, this time, without Bartender loaded:

<img width="650" alt="Screen Shot 2021-11-24 at 5 06 44 PM" src="https://user-images.githubusercontent.com/6947896/143328098-549db069-efb9-4175-aad2-8cce8f49d9ea.png">

<img width="650" alt="Screen Shot 2021-11-24 at 5 06 52 PM" src="https://user-images.githubusercontent.com/6947896/143328105-ff5dd4d1-768e-4a0f-a693-6690b8617f12.png">

[2021-12-09 12:53] Oreilles commented on #69
This would be very convenient, as the notification center can be opened with a simple swipe from the outer right of the trackpad - rather than having to click the tiny menubar icon, or enable and remember a hotkey.

[2022-02-01 16:27] karlhaworth opened #105 "Apple Silicon (M1) build"
can you make an apple silicon (m1) build of this app?

[2022-02-07 16:43] karlhaworth commented on #105
thank you.

[2022-03-06 00:36] n0shake commented on #100
Closing for inactivity!

[2022-03-06 00:36] #100 closed

[2022-03-22 18:24] chriskol opened #106 "New Release for Homebrew?"
Any chance we can get a release setup for the new version so we can update the cask for Homebrew?

[2022-04-17 18:03] n0shake commented on #106
Pull Request to update the cask is out: https://github.com/Homebrew/homebrew-cask/pull/122085

[2022-04-18 13:33] #106 closed

[2022-04-22 06:02] falkenmire commented on #105
did this regress? installed using `mas install 1056643111` (ie via App Store), only got an Intel binary on an M1 MBP (12.3.1)
tried the latest GH release (`Clocker.v22.05.zip`); same thing

<img width="199" alt="CleanShot 2022-04-22 at 15 58 54@2x" src="https://user-images.githubusercontent.com/927240/164612990-560d72b0-1ac8-4c20-ac57-944733153d98.png">

[2022-04-26 12:36] karlhaworth commented on #105
@n0shake ☝🏻

I'm having the same issue

[2022-04-28 09:22] n0shake commented on #105
Sorry that this has regressed, and will be fixed in the next update! :)

[2022-05-20 11:09] core-code opened #107 "Clocker.v22.02.01 was 'universal', Clocker.v22.05 isn't"
[code]
[code]

[2022-05-24 18:11] n0shake commented on #107
This is a KP; and will be mitigated in the next update!

[2022-06-09 14:27] karlhaworth commented on #105
can you let us know when the next release might be? Would really like to use this again.

[2022-06-09 15:38] n0shake commented on #107
Fixed in v22.06!

[2022-06-09 15:38] #107 closed

[2022-06-09 15:47] karlhaworth commented on #105
THANK YOU! I updated and using it. I appreciate you!

[2022-06-09 20:14] core-code commented on #107
awesome, thanks!

[2022-06-23 05:14] duarteocarmo opened #108 "Ability to copy all timezones after scrolling the Time Scroller"
- If you do this currently, all time zones get copied in the current time, not the time I scrolled to..

Thanks for the awesome work here!

Love your app, and have written about it :)

[2022-06-24 14:53] n0shake commented on #108
Thanks for the report; I'll take a stab at fixing this soon!

[2022-06-27 15:11] mdeguzis opened #109 "Please add UTC shift to appearance"
I'd really love it if you could add the relative UTC shift to the appearance as an option. For example, "UTC-4". I love this app, just would like to see that so I know each region.

<img width="334" alt="image" src="https://user-images.githubusercontent.com/3931917/175973853-529ea25b-497e-47ca-913b-cbae3d3b1b7f.png">

[2022-07-09 17:32] Universal-Igloo commented on #105
Hi @n0shake Any chance the Arm or universal build can be released as a dmg to your GitHub releases? We don't use an Apple ID and install everything from home-brew or GitHub dmgs instead.

[2022-07-19 13:29] fernandomora opened #110 "New v22.06 is not relasesed in github"
New version v22.06 is not available in github https://github.com/n0shake/clocker/releases
So brew formula cannot be upgraded https://github.com/Homebrew/homebrew-cask/blob/88ad8ce/Casks/clocker.rb

The only place I currently am able to find it is Apple Store

Is this deliberated, or just missing?

[2022-07-23 13:15] n0shake commented on #109
Thanks for the feedback @mdeguzis. Can you leverage custom labels to accomplish what you want to achieve (for eg: rename to **Amsterdam (UTC+1)**. We can definitely consider adding this if there's a genuine user need for this. Right now, there isn't.

I'm going to keep this issue for a while and see how others feel about this :)

[2022-07-24 16:53] n0shake commented on #109
I'm making the offset information available on hover; feedback welcome :)

<img width="401" alt="Screen Shot 2022-07-24 at 12 50 56 PM" src="https://user-images.githubusercontent.com/8280282/180657854-70e87a4b-3008-441b-b6b7-0b4d1ceb4d71.png">

[2022-07-24 16:53] #109 closed

[2022-07-24 17:32] n0shake commented on #108
This should be fixed with bf99807553e77b118305008a6b989e814b277260 and will be available as part of the next public release!

[2022-07-24 17:32] #108 closed

[2022-07-25 01:51] n0shake commented on #110
It's now available as a GitHub release!

[2022-07-25 01:51] #110 closed

[2022-07-25 12:37] mdeguzis commented on #109
I updated it with `brew` but did not see the hover over yet.

[2022-08-02 13:26] mdeguzis commented on #62
https://github.com/n0shake/clocker/issues/39 was closed and this linked, but I still cannot enter a specific time. Is there a docs page on how to do things? The wiki is blank.

[2022-08-29 15:28] mdeguzis commented on #109
Works now:
[code]

thank you!!!!

[2022-09-15 04:21] minimondo opened #111 "Stops working when Monterey 12.6 is installed (arm64 M1)."
Pops up an error dialog saying [app is not installed in /Applications; is installed in "/Applications" instead] or words to that effect.

From then on Clocker cannot be run at all. Installed via Brew.

[2022-09-15 11:30] ryandesign opened #112 "Use fixed-width digits"
Clocker is evidently using standard proportional-width digits such that the width varies depending on the time. This is especially apparent if you show the seconds.

If my menubar is especially full of regular menus and menu extras, I've seen it happen that a menu extra will appear and disappear from second to second depending on the time as more or less space becomes available. This is distractin

[2022-09-28 13:56] n0shake commented on #112
@ryandesign - Clocker does use a monospaced font for rendering the time:
https://github.com/n0shake/clocker/blob/642303d1385fc76c8723e4d18146d669973ee9b9/Clocker/Menu%20Bar/StatusItemView.swift#L13

The issue you're describing is most likely happening due to incorrect sizing logic calculation for the container view that renders the menubar item.

[2022-09-28 22:10] minimondo commented on #111
Sorry, my bad. I just had to do the additional installation:

python3 -m pip install --upgrade setuptools_rust

Now installation completes OK.

[2022-09-28 22:10] #111 closed

[2022-10-02 21:56] #112 closed

[2022-10-13 22:03] ryandesign commented on #112
I see you closed this issue but I don't see any new commits in this repository since I opened this issue. How was the issue fixed?

[2022-10-24 18:59] n0shake commented on #112
There's a seperate issue tracking this: https://github.com/n0shake/clocker/issues/102

[2022-10-25 08:51] ryandesign commented on #112
#102 does not look like my issue. I'm not using multiple clocks, and I'm on Catalina, not Monterey.

[2022-10-25 09:19] ryandesign commented on #112
This is the problem I'm reporting:

![out](https://user-images.githubusercontent.com/429209/197735391-c32af0a1-7782-42a5-afba-d242ce6e94ce.gif)

[2022-11-14 01:12] chunyang-wen opened #114 "Support an icon which shows the current day of the month"
Clocker can display detail information on the menubar which can be configured in preference. What I am want to display is just a simple day of the month. Like an icon sits in the menubar and shows the day of the month.

![image](https://user-images.githubusercontent.com/2911134/201555675-010be5b4-b1c2-4c59-883d-ae4fe861c132.png)